{{#if showingDatafruits}}
  <marquee>
    [{{currentDatafruit.user.username}}]: {{currentDatafruit.content}}
  </marquee>
  <button {{action "addDatafruit"}} class="cool-button">{{t "microtext.add"}}</button>
{{else}}
  <div>
    {{t "microtext.we_need_it"}}
  </div>
  <form {{on "submit" this.submit}}>
    <Input @value={{this.datafruit.content}} placeholder="your datafruit" />
    <input
      type="submit"
      value="{{t "microtext.submit"}}" class="cool-button" disabled={{isSubmittable}}>
  </form>
{{/if}}
