<li
  {{did-insert this.setScrolling}}
  class="message">
  <span class="mr-2">
    {{format-message-timestamp @message.timestamp}}
  </span>
  {{#if (or (includes "dj" @message.role) (includes "admin" @message.role))}}
    {{#if @message.avatarUrl}}
      <span class="mr-2" data-test-avatar>
        <img style="height: 20px;" src="{{@message.avatarUrl}}" alt="{{ t "chat.user_avatar" }}" / >
      </span>
    {{else}}
      <span class="mr-2" data-test-avatar>
        <img style="height: 20px;" src="/assets/images/show_placeholder.jpg" alt="{{ t "chat.user_avatar" }}" / >
      </span>
    {{/if}}
  {{/if}}
    <span class="mr-2" data-test-username>
      <Chat::Username
        @role={{@message.role}}
        @style={{@message.style}}
        @pronouns={{@message.pronouns}}
        @username={{@message.user}}
        @avatarUrl={{@message.avatarUrl}}
        />
    </span>
  <span class="" data-test-message-body>
    {{format-message-body @message.body}}
  </span>
</li>
{{#if @gifsEnabled}}
  {{#if this.hasImage}}
    <li class="message">
      <span class="">
        <ChatLazyImage
          @url={{this.imgUrl}}
          @adjustScrolling={{this.adjustScrolling}}
        />
      </span>
    </li>
  {{/if}}
{{/if}}
