<div id="chat-room">
  <div id="chat-area">
    <ChatMessages
      @messages={{messages}}
      @gifsEnabled={{gifsEnabled}}
      @newMessagesAvailable={{action "newMessagesAvailable"}}
      @onScroll={{action "onScroll"}}
    />
    {{#if newMessagesBelow}}
      <div id="new-messages-below">
        <span>{{t "chat.new_messages"}}</span>
      </div>
    {{/if}}
    {{#if networkStatus.isOffline}}
      <div id="offline">
        <span>{{t "chat.offline"}}</span>
      </div>
    {{/if}}
    <ul id="userlist">
      {{#each joinedUsers as |joinedUser|}}
        <UserListItem @user={{joinedUser}} />
      {{/each}}
    </ul>
  </div>
</div>
<div id="controls">
  {{#if joinedChat}}
    <form align="center" id="send-message">
      <label for="chat-input-message">{{t "chat.label.input"}}</label>
      <DatafruitsChatInputMessage  @isOffline={{networkStatus.isOffline}} />
      <button
        title={{t (if this.gifsEnabled  "chat.titles.img_on" "chat.titles.img_off") }}
        class="cool-button"
        {{action "toggleGifsEnabled"}}
      >
        {{images-enabled-button-label gifsEnabled}}
      </button>
    </form>
  {{else}}
    <form align="center" id="enter-chat">
      <label for="nick">{{t "chat.label.nick"}}</label>
      <Input
        id="nick"
        @type="text"
        @name="nick"
        @value={{nick}}
        @autocorrect="off"
        @autocapitalize="none"
        placeholder={{t "chat.nickname"}}
      />
      <button {{action "enterChat"}}
        class="cool-button"
        disabled={{or disableJoinButton networkStatus.isOffline}}
        title={{t "chat.titles.enter"}}
      >
        {{t "chat.join"}}
      </button>
      <button
        title={{if this.gifsEnabled  (t "chat.titles.img_on") (t "chat.titles.img_off") }}
        class="cool-button"
        {{action "toggleGifsEnabled"}}
      >
        {{t (if this.gifsEnabled  "chat.img_on" "chat.img_off") }}
      </button>
    </form>
  {{/if}}
</div>
