{{#if showingGifSearch}}
  <GiphySearch @sendGif={{action "sendGif"}} />
{{else}}
  <button class="cool-button" {{action 'showGifSearch'}}>GIF</button>
{{/if}}
<Input
  @type="text"
  @id="input-message"
  @autocomplete="off"
  @value={{inputMessage}}
  placeholder={{t "chat.message_placeholder"}}
  @autofocus="autofocus"
/>
<button class="cool-button" {{action 'sendMessage'}} id="send-message"
  disabled={{isOffline}}>
  {{t "chat.send"}}
</button>
