<Input
  @type="text"
  @id="input-message"
  @autocomplete="off"
  @value={{inputMessage}}
  placeholder={{t "chat.message_placeholder"}}
  @autofocus="autofocus"
/>
<button {{action "sendMessage"}}
  type="submit"
  class="cool-button"
  id="send-message-button"
  disabled={{isOffline}}
>
  {{t "chat.send"}}
</button>
{{#if showingGifSearch}}
  <div class="gif-search">
    <button {{action "closeGifSearch"}}
      class="cool-button"
    >
      <i class="fa fa-times"></i>
    </button>
    <GiphySearch @sendGif={{action "sendGif"}} />
  </div>
{{else}}
  <button class="cool-button" {{action "showGifSearch"}}>{{t "chat.gif"}}</button>
{{/if}}
