{{#network-status as |status|}}
  <div id="chat-room">
    <div id="chat-area">
      {{chat-messages
        messages=messages
        gifsEnabled=gifsEnabled
        newMessagesAvailable=(action "newMessagesAvailable")
        onScroll=(action "onScroll")}}
      {{#if newMessagesBelow}}
        <div id="new-messages-below">
          <span>{{t "chat.new_messages"}}</span>
        </div>
      {{/if}}
      {{#if status.isOffline}}
        <div id="offline">
          <span>{{t "chat.offline"}}</span>
        </div>
      {{/if}}
      <ul id="userlist">
        {{#each joinedUsers as |joinedUser|}}
          {{user-list-item user=joinedUser}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div id="controls">
    {{#if joinedChat}}
      <form align='center' id="send-message">
        {{datafruits-chat-input-message isOffline=status.isOffline}}
        <button class="cool-button" {{action 'toggleGifsEnabled'}}>
          {{images-enabled-button-label gifsEnabled}}
        </button>
      </form>
    {{else}}
      <form align='center' id="enter-chat">
        {{input
          type="text"
          name="nick"
          value=nick autocorrect="off" autocapitalize="none"
          placeholder="nickname"}}
        <button
          class="cool-button"
          disabled={{or disableJoinButton status.isOffline}}
          {{action 'enterChat'}}>
          Join chatroom
        </button>
      </form>
    {{/if}}
  </div>
{{/network-status}}
