<div id="chat-room">
  <div id="chat-area">
    <ul id="messages">
      {{#each messages as |message|}}
        {{chat-message message=message gifsEnabled=gifsEnabled}}
      {{/each}}
    </ul>
    <ul id="userlist">
      {{#each joinedUsers as |joinedUser|}}
        {{user-list-item user=joinedUser}}
      {{/each}}
    </ul>
  </div>
</div>
<div id="controls">
  <form align='center' id="send-message" style="display: none;">
    <input type="text" id="input-message" autocomplete="off"
      placeholder="type here...">
    <button class="cool-button" {{action 'sendMessage'}}>Send</button>
    <button class="cool-button" {{action 'toggleGifsEnabled'}}>{{images-enabled-button-label gifsEnabled}}</button>
  </form>
  <form align='center' id="enter-chat">
    <label for='nick'>Nickname</label><input type="text" name="nick" autocorrect="off" autocapitalize="none">
    <button class="cool-button" {{action 'enterChat'}}>Enter chatroom</button>
  </form>
</div>
