<div id="chat-room">
  <div id="chat-area">
    <ul id="messages">
      {{#each messages as |message|}}
        {{chat-message message=message gifsEnabled=gifsEnabled newMessagesAvailable="newMessagesAvailable"}}
      {{/each}}
      {{#if newMessagesBelow}}
        <div id="new-messages-below">
          <span>New messages below.</span>
        </div>
      {{/if}}
    </ul>
    <ul id="userlist">
      {{#each joinedUsers as |joinedUser|}}
        {{user-list-item user=joinedUser}}
      {{/each}}
    </ul>
  </div>
</div>
<div id="controls">
  <form align='center' id="send-message" style="display: none;">
    <input type="text" id="input-message" autocomplete="off"
      placeholder="enter your message here...">
    <button class="cool-button" {{action 'sendMessage'}}>Send</button>
    <button class="cool-button" {{action 'toggleGifsEnabled'}}>{{images-enabled-button-label gifsEnabled}}</button>
  </form>
  <form align='center' id="enter-chat">
    <input type="text" name="nick" autocorrect="off" autocapitalize="none" placeholder="nickname">
    <button class="cool-button" {{action 'enterChat'}}>Join chatroom</button>
  </form>
</div>
