<audio preload="" id="radio-player" class="hidden">
  <source
    src="https://streampusher-relay.club/datafruits.mp3"
    type="audio/mp3"
  >
  <source
    src="https://streampusher-relay.club/datafruits.ogg"
    type="audio/ogg"
  >
</audio>
<div class="radio-container flex flex-row justify-between items-center text-3xl text-shadow">
  <div class="player-controls mx-2">
    {{#if playingPodcast}}
      <a
        aria-label={{t "player.aria.return_to_live"}}
        href="javascript:;"
        role="button"
        {{action "playLiveStream"}}
      >
        {{t "player.return_to_live"}}
      </a>
    {{/if}}
    {{#if loading}}
      <div id="loading-stream"
        name="loading-stream"
        class="player-loading">
      </div>
    {{else if playing}}
      <a id="pause-stream"
        name="pause-stream"
        role="button"
        aria-label={{t "player.aria.stop"}}
        {{action "pause"}}
        class="jp-pause"
        tabindex="0"
      >
        {{t (if this.playingPodcast "player.pause" "player.stop")}}
      </a>
    {{else if paused}}
      <a id="play-stream"
        name="play-stream"
        class="jp-play"
        href="#"
        tabindex="0"
        role="button"
        aria-label={{t "player.aria.play"}}
        title={{t "player.aria.play"}}
        {{action "play"}}
        onMouseEnter={{action "playButtonMouseEnter"}}
        onMouseLeave={{action "playButtonMouseOut"}}
      >
        {{t "player.play"}}
      </a>
    {{/if}}
    <span
      id="volume-control"
      name="volume-control"
      role="button"
      class="jp-volume-controls"
      aria-label={{t "player.aria.volume"}}
      {{action "toggleVolumeControl" on="mouseEnter"}}
      {{action "toggleVolumeControl" on="mouseLeave"}}
    >
      {{#if muted}}
        {{!-- template-lint-disable no-nested-interactive --}}
        <a
          class="jp-unmute"
          tabindex="0"
          role="button"
          title={{t "player.aria.unmute"}}
          aria-label={{t "player.aria.unmute"}}
          {{action "unmute"}}
        >
          <i class="fa fa-volume-off"></i>
        </a>
      {{else}}
        <a
          class="jp-mute"
          tabindex="0"
          role="button"
          title={{t "player.aria.mute"}}
          aria-label={{t "player.aria.mute"}}
          {{action "mute"}}
        >
          <i class="fa fa-volume-up"></i>
        </a>
      {{/if}}
      {{#if showingVolumeControl}}
        <label for="vol-control">{{this.volume}}</label>
        <input
          class="volume-control"
          type="range"
          min="0"
          max="1"
          step="0.1"
          aria-label={{t "player.aria.volume"}}
          oninput={{action "volumeChanged"}}
          value={{volume}}
        >
      {{/if}}
    </span>
  </div>
  <div class="now-playing flex-grow">
    {{#if error}}
      <span>
        {{error}}
      </span>
    {{else}}
      <span class="jp-title">
        {{title}}
      </span>
    {{/if}}
  </div>
  <div class="flex mr-1 items-center">
    {{yield}}
  </div>
</div>
{{#if playingPodcast}}
  <div class="seek">
    <div class="seek-bar-wrapper">
      <input
        class="seek-bar"
        type="range"
        step="any"
        oninput={{action "seek"}}
        value={{playTime}}
      >
    </div>
  </div>
{{/if}}
