<div id="chat-room">
  <div id="chat-area">
    <ChatMessages
      @messages={{this.messages}}
      @gifsEnabled={{this.gifsEnabled}}
      @newMessagesAvailable={{action "newMessagesAvailable"}}
      @onScroll={{action "onScroll"}}
    />
    {{#if newMessagesBelow}}
      <div id="new-messages-below">
        <span>{{t "chat.new_messages"}}</span>
      </div>
    {{/if}}
    {{#if networkStatus.isOffline}}
      <div id="offline">
        <span>{{t "chat.offline"}}</span>
      </div>
    {{/if}}
    <ul id="userlist">
      {{#each joinedUsers as |joinedUser|}}
        <UserListItem @user={{joinedUser}} />
      {{/each}}
    </ul>
  </div>
</div>
<div id="controls">
  {{#if this.joinedChat}}
    <form align="center" id="send-message">
      <DatafruitsChatInputMessage  @isOffline={{@networkStatus.isOffline}} />
      <button class="cool-button" {{action "toggleGifsEnabled"}}>
        {{images-enabled-button-label this.gifsEnabled}}
      </button>
    </form>
  {{else}}
    <form align="center" id="enter-chat">
      <Input
        @type="text"
        @name="nick"
        @value={{this.nick}}
        @autocorrect="off"
        @autocapitalize="none"
        placeholder={{t "chat.nickname"}}
      />
      <button {{action "enterChat"}}
        type="submit"
        class="cool-button"
        disabled={{or this.disableJoinButton @networkStatus.isOffline}}
      >
        {{t "chat.join_anonymously"}}
      </button>
      <img src="/assets/images/new.gif"
           alt="{{ t "new" }}" />
      <button {{action "toggleLoginModal"}}
        type="button"
        class="cool-button"
      >
        {{t "chat.login"}}
      </button>
      <button class="cool-button" {{action "toggleGifsEnabled"}}>
        {{images-enabled-button-label this.gifsEnabled}}
      </button>
    </form>
  {{/if}}
</div>
{{#if this.showingLoginModal}}
  <LoginModal
    @login={{action "enterChat"}}
    @toggleModal={{action "toggleLoginModal"}}
  />
{{/if}}
