<Input
  @type="text"
  @id="input-message"
  @autocomplete="off"
  @value={{inputMessage}}
  placeholder={{t "chat.message_placeholder"}}
  @autofocus="autofocus"
/>
<button class="cool-button" {{action "sendMessage"}} disabled={{isOffline}}>
  {{t "chat.send"}}
</button>
