<audio preload="" id="radio-player">
  <source
    src="https://streampusher-relay.club/datafruits.mp3"
    type="audio/mp3"
  >
  <source
    src="https://streampusher-relay.club/datafruits.ogg"
    type="audio/ogg"
  >
</audio>
<div class="radio-container">
  <div class="player-controls">
    {{#if playingPodcast}}
      <a href="javascript:;" {{action "playLiveStream"}}>
        {{t "player.return_to_live"}}
      </a>
    {{/if}}
    {{#if loading}}
      <div class="player-loading">
      </div>
    {{else if playing}}
      <a class="jp-pause" tabindex="1" {{action "pause"}}>
        {{t (if this.playingPodcast "player.pause" "player.stop")}}
      </a>
    {{else if paused}}
      <a {{action "play"}}
        onMouseEnter={{action "playButtonMouseEnter"}}
        onMouseLeave={{action "playButtonMouseOut"}}
        class="jp-play"
        href="#"
        tabindex="1"
        role="button"
        aria-label={{t "player.play_button_label"}}
      >
        {{t "player.play"}}
      </a>
    {{/if}}
    <span {{action "toggleVolumeControl" on="mouseEnter"}}
      class="jp-volume-controls"
      role="button"
    >
      {{#if muted}}
        {{!-- template-lint-disable no-nested-interactive --}}
        <a class="jp-unmute" tabindex="1" {{action "unmute"}}>
          <i class="fa fa-volume-off"></i>
        </a>
      {{else}}
        <a class="jp-mute" tabindex="1" {{action "mute"}}>
          <i class="fa fa-volume-up"></i>
        </a>
      {{/if}}
      {{#if showingVolumeControl}}
        <input
          class="volume-control"
          type="range"
          min="0"
          max="1"
          step="0.1"
          oninput={{action "volumeChanged"}}
          value={{volume}}
        >
      {{/if}}
    </span>
  </div>
  <div class="now-playing">
    {{#if error}}
      <span>
        {{error}}
      </span>
    {{else}}
      <span class="jp-title">
        {{title}}
      </span>
    {{/if}}
  </div>
  <div class="next-show-and-locale">
    {{#if nextShow}}
      <span id="next-show">
        {{t "next_broadcast"}}
        <LinkTo @route="home.show" @model={{nextShow}}>
          {{nextShow.title}}
        </LinkTo>
      </span>
    {{/if}}
    {{yield}}
  </div>
</div>
{{#if playingPodcast}}
  <div class="seek">
    <div class="seek-bar-wrapper">
      <input
        class="seek-bar"
        type="range"
        step="any"
        oninput={{action "seek"}}
        value={{playTime}}
      >
    </div>
  </div>
{{/if}}
