<Input
  @type="text"
  @id="input-message"
  @autocomplete="off"
  @value={{inputMessage}}
  placeholder={{t "chat.message_placeholder"}}
  @autofocus="autofocus"
/>
<button
  type="submit"
  class="cool-button"
  id="send-message-button"
  disabled={{isOffline}}
  {{action "sendMessage"}}>
  {{t "chat.send"}}
</button>
{{#if showingGifSearch}}
  <div class="gif-search">
    <button class="cool-button"
      {{action "closeGifSearch"}}>
      <i class="fa fa-times"></i>
    </button>
    <GiphySearch @sendGif={{action "sendGif"}} />
  </div>
{{else}}
  <button class="cool-button" {{action "showGifSearch"}}>{{t "chat.gif"}}</button>
{{/if}}
