<Input
  @type="text"
  @id="giphy-search-term"
  placeholder="search for gifs..."
  @autocomplete="off"
  @value={{searchTerm}}
/>
<GiphyLoader @query={{query}} as |loader|>
  {{#if loader.isRunning}}
    <p>{{t "loading"}}</p>
  {{else}}
    {{#each loader.data as |gif|}}
      <GifPreview @gif={{gif}} @sendGif={{action sendGif}}/>
    {{/each}}
  {{/if}}
</GiphyLoader>
