
<GiphyLoader @query={{query}} as |loader|>
  {{#if loader.isRunning}}
    <p>{{t "loading"}}</p>
  {{else}}

  <Input
    @type="text"
    @id="giphy-search-term"
    @autocomplete="off"
    @value={{searchTerm}}
  />
    {{#each loader.data as |gif|}}
      <button class="gif-button" {{action sendGif gif}}
        onMouseEnter={{action updateBigGifPreview gif}} >
        <img
          class="gif-preview"
          alt={{gif.name}}
          src={{gif.previewUrl}}
        >
      </button>
    {{/each}}
  {{/if}}
</GiphyLoader>
