<label for="giphy-search-term">{{t "chat.label.search"}}</label>
<Input
  @type="text"
  @id="giphy-search-term"
  name="giphy-search-term"
  placeholder={{t "chat.search"}}
  @autocomplete="off"
  @value={{searchTerm}}
/>
<GiphyLoader @query={{query}} as |loader|>
  {{#if loader.isRunning}}
    <p>{{t "loading"}}</p>
  {{else}}
    {{#each loader.data as |gif|}}
      <GifPreview @gif={{gif}} @sendGif={{action sendGif}}/>
    {{/each}}
  {{/if}}
</GiphyLoader>
