<label id="locale-selector-label"
  for="locale-selector"
>
  {{t "locale"}}
</label>
<select id="locale-selector"
  name="locale-selector"
  onchange={{action setLocale value="target.value"}}>
  {{#each locales as |localeChoice|}}
    <option
      value={{localeChoice.value}}
      selected={{eq selectedLocale localeChoice.value}}
    >
      {{localeChoice.text}}
    </option>
  {{/each}}
</select>