<label id="locale-selector-label"
  for="locale-selector"
>
  {{t "locale"}}
</label>
<select
    id="locale-selector"
    name="locale-selector"
    class="bg-df-pink border-solid border-2 border-df-blue"
    aria-label="{{ t "locale"}}"
    onchange={{action setLocale value="target.value"}}>
  {{#each locales as |localeChoice|}}
    <option
      value={{localeChoice.value}}
      selected={{eq selectedLocale localeChoice.value}}
    >
      {{localeChoice.text}}
    </option>
  {{/each}}
</select>
