<nav
  class="navbar pc bg-df-pink"
  role="navigation">
  <ul>
    <li class="subnav">
      <a {{action @toggleSubMenu on="mouseEnter"}}
        class="submenu-title"
        href="#"
      >
        {{t "radio"}}
        <span
          class="fa fa-arrow-circle-o-right {{if @submenuOpen "rotated"}}"
          aria-hidden="true"
        >
        </span>
      </a>
    </li>
    <li>
      <LinkTo @route="home.chat">
        {{t "chat.title"}}
      </LinkTo>
    </li>
    <li>
      <a href="http://releases.datafruits.fm/" target="_blank" rel="noopener noreferrer">
        {{t "label"}}
      </a>
    </li>
    <li>
      <LinkTo @route="home.about">
        {{t "about"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="home">
        {{t "blog"}}
      </LinkTo>
    </li>
    <li>
      <a href="https://cooltrash.shop/" target="_blank" rel="noopener noreferrer">
        {{t "shop"}}
      </a>
    </li>
    <li>
      <LinkTo @route="home.subscribe">
        {{t "subscribe"}}
      </LinkTo>
    </li>
  </ul>
  {{#if @submenuOpen}}
    <ul class="subnav">
      <li>
        <LinkTo @route="home.djs">
          {{t "djs.title"}}
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="home.podcasts">
          {{t "podcasts.title"}}
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="home.timetable">
          {{t "timetable"}}
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="home.dj-inquiry">
          {{t "djinquiry.title"}}
        </LinkTo>
      </li>
    </ul>
  {{/if}}
  <LinkTo @route="home">
    <img id="circle-logo" src="/assets/images/logo.png" alt={{t "site_title"}}>
  </LinkTo>
</nav>
