<nav class="navbar pc" role="navigation">
  <ul>
    <li class="subnav">
      <a class="submenu-title" href="#" {{action toggleSubMenu on="mouseEnter"}}>
        {{t "radio"}}<span class="fa fa-arrow-circle-o-right {{if submenuOpen "rotated"}}" aria-hidden="true"></span>
      </a>
    </li>
    <li>
      {{#link-to 'home.chat'}}{{t "chat.title"}}{{/link-to}}
    </li>
    <li>
      <a href="http://releases.datafruits.fm/" target="_blank" rel="noopener">{{t 'label'}}</a>
    </li>
    <li>
      {{#link-to 'home.about'}}{{t 'about'}}{{/link-to}}
    </li>
    <li>
      {{#link-to 'home'}}{{t 'blog'}}{{/link-to}}
    </li>
    <li>
      <a href="https://cooltrash.shop/" target="_blank" rel="noopener">{{t 'shop'}}</a>
    </li>
    <li>
      {{#link-to 'home.subscribe'}}{{t 'subscribe'}}{{/link-to}}
    </li>
  </ul>
  {{#if submenuOpen}}
    <ul class="subnav">
      <li>
        {{#link-to 'home.djs'}}{{t "djs.title"}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'home.podcasts'}}{{t "podcasts.title"}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'home.timetable'}}{{t 'timetable'}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'home.dj-inquiry'}}{{t 'djinquiry.title'}}{{/link-to}}
      </li>
    </ul>
  {{/if}}
  {{#link-to 'home'}}<img id="circle-logo" src="/assets/images/logo.png" />{{/link-to}}
</nav>
