<nav class="navbar pc" role="navigation">
  <ul>
    <li class="subnav">
      <a {{action toggleSubMenu on="mouseEnter"}}
        aria-label={{t "radio.aria"}}
        class="submenu-title"
        href="#"
      >
        {{t "radio.title"}}
        <span
          class="fa fa-arrow-circle-o-right {{if submenuOpen "rotated"}}"
          aria-hidden="true"
        >
        </span>
      </a>
    </li>
    <li>
      <LinkTo @route="home.chat" aria-label={{t "chat.aria"}}>
        {{t "chat.title"}}
      </LinkTo>
    </li>
    <li>
      <a href="http://releases.datafruits.fm/" target="_blank" rel="noopener" aria-label={{t "releases.aria"}}>
        {{t "releases.title"}}
      </a>
    </li>
    <li>
      <LinkTo @route="home.about" aria-label={{t "about.aria"}}>
        {{t "about.title"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="home" aria-label={{t "blog.aria"}}>
        {{t "blog.title"}}
      </LinkTo>
    </li>
    <li>
      <a href="https://cooltrash.shop/" target="_blank" rel="noopener" aria-label={{t "shop.aria"}}>
        {{t "shop.title"}}
      </a>
    </li>
    <li>
      <LinkTo @route="home.subscribe" aria-label={{t "subscribe.aria"}}>
        {{t "subscribe.title"}}
      </LinkTo>
    </li>
  </ul>
  {{#if submenuOpen}}
    <ul class="subnav">
      <li>
        <LinkTo @route="home.djs" aria-label={{t "djs.aria"}}>
          {{t "djs.title"}}
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="home.podcasts" aria-label={{t "podcasts.aria"}}>
          {{t "podcasts.title"}}
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="home.timetable" aria-label={{t "timetable.aria"}}>
          {{t "timetable.title"}}
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="home.dj-inquiry" aria-label={{t "djinquiry.aria"}}>
          {{t "djinquiry.title"}}
        </LinkTo>
      </li>
    </ul>
  {{/if}}
</nav>
