<div class="podcast">
  {{#if playing}}
    <a class="podcast-controls" {{action "pause"}}>
      ❚❚
    </a>
  {{else}}
    <a class="podcast-controls" {{action "play"}}>
      ▶︎
    </a>
  {{/if}}
  <a href={{cdnUrl}} download="">
    <i class="fa fa-download"></i>
  </a>
  {{#if soundcloudKey}}
    <a class="podcast-controls" href={{soundcloudKey}} target="_blank" rel="noopener">
      <i class="fa fa-soundcloud"></i>
    </a>
  {{/if}}
  {{#if mixcloudKey}}
    <a class="podcast-controls" href={{mixcloudKey}} target="_blank" rel="noopener">
      <i class="fa fa-mixcloud"></i>
    </a>
  {{/if}}
  {{#if scheduledShow}}
    <LinkTo @route="home.show" @model={{scheduledShow.id}}>
      {{title}}
    </LinkTo>
  {{else}}
    {{title}}
  {{/if}}
  {{#each labels as |label|}}
    <a class="track-label" {{action selectLabel label}}>
      {{label.name}}
    </a>
  {{/each}}
</div>
