{{input class="search-tracks"
  autofocus="autofocus"
  value=filterText
  escape-press=(action 'clearSearch')
  placeholder="Search podcasts"}}
{{#power-select-multiple
    placeholder="Search by tag..."
    options=labelNames
    selected=selectedLabels
    renderInPlace=true
    onchange=(action (mut selectedLabels))
    as |label|
}}
  {{label}}
{{/power-select-multiple}}

{{#podcasts-loader query=searchParams as |loader|}}
  {{#if loader.isRunning}}
    <p>Loading...</p>
  {{else}}
    {{#each loader.data.tracks as |track|}}
      {{podcast-track cdnUrl=track.cdnUrl title=track.title labels=track.labels selectLabel=(action "selectLabel")}}
    {{/each}}

    {{#if (gt loader.data.meta.page 1)}}
      <span class="pagination">{{#link-to "home.podcasts" (query-params page=(dec loader.data.meta.page))}}«{{/link-to}}</span>
    {{/if}}
    {{#each (range 1 (inc loader.data.meta.total_pages)) as |number| }}
      {{#if (eq number loader.data.meta.page)}}
            {{number}}
          {{else}}
        <span class="pagination">{{link-to number "home.podcasts" (query-params page=number)}}</span>
          {{/if}}
    {{/each}}
    {{#if (lt loader.data.meta.page loader.data.meta.total_pages)}}
      <span class="pagination">{{#link-to "home.podcasts" (query-params page=(inc loader.data.meta.page))}}»{{/link-to}}</span>
    {{/if}}
  {{/if}}
{{/podcasts-loader}}
