<div class="py-1">
  {{#if this.playing}}
    <a class="text-df-green hover:text-df-yellow text-xl" {{action "pause"}} href="#">
      {{t "player.pause"}}
    </a>
  {{else}}
    <a class="text-df-green hover:text-df-yellow text-xl" {{action "play"}} href="#">
      {{t "player.play"}}
    </a>
  {{/if}}
  <a href={{@cdnUrl}} download="">
    <i class="fa fa-download text-df-green hover:text-df-yellow text-xl"></i>
  </a>
  {{#if @soundcloudKey}}
    <a
      class="text-df-green hover:text-df-yellow text-xl"
      href={{@soundcloudKey}}
      target="_blank"
      rel="noopener"
    >
      <i class="fa fa-soundcloud"></i>
    </a>
  {{/if}}
  {{#if @mixcloudKey}}
    <a class="text-df-green hover:text-df-yellow text-xl" href={{@mixcloudKey}} target="_blank" rel="noopener noreferrer">
      <i class="fa fa-mixcloud"></i>
    </a>
  {{/if}}
  {{#if @scheduledShow}}
    <LinkTo @route="home.show" @model={{@scheduledShow.id}}>
      {{@title}}
    </LinkTo>
  {{else}}
    {{@title}}
  {{/if}}
  {{#each @labels as |label|}}
    <a class="track-label classic:bg-df-pink blm:bg-black text-df-yellow p-1 uppercase hover:italic" {{on "click" (fn @selectLabel label)}} href="#">
      {{label.name}}
    </a>
  {{/each}}
</div>
