<div class="podcast">
  {{#if playing}}
    <a class="podcast-controls" {{action "pause"}}>❚❚</a>
  {{else}}
    <a class="podcast-controls" {{action "play"}}>▶︎</a>
  {{/if}}
  <a href="{{audio_file_name}}" download><i class="fa fa-download"></i></a>
  {{title}}
</div>
