<div class="podcast">
  {{#if playing}}
    <a class="podcast-controls" {{action "pause"}}>❚❚</a>
  {{else}}
    <a class="podcast-controls" {{action "play"}}>▶︎</a>
  {{/if}}
  <a href="{{cdn_url}}" download><i class="fa fa-download"></i></a>
  {{title}}
  {{#each labels as |label|}}
    <a class="track-label" {{action "selectLabel" label}}>{{label}}</a>
  {{/each}}
</div>
