<nav class="navbar sp" role="navigation">
  <button type="button" class="navbar-toggle collapsed" {{action toggleMenu}} aria-label={{t "radio_aria"}}>
    <span class="sr-only">
      {{t "nav_toggle"}}
    </span>
    <span class="fa fa-bars" aria-hidden="true"></span>
  </button>
  {{#if menuOpen}}
    <ul>
      <li class="subnav">
        <span class="submenu-title" href="#" aria-label={{t "radio_aria"}}>
          {{t "radio"}}
        </span>
        <ul class="subnav">
          <li>
            <LinkTo @route="home.djs" aria-label={{t "djs.aria"}}>
              {{t "djs.title"}}
            </LinkTo>
          </li>
          <li>
            <LinkTo @route="home.podcasts" aria-label={{t "podcasts.aria"}}>
              {{t "podcasts.title"}}
            </LinkTo>
          </li>
          <li>
            <LinkTo @route="home.timetable" aria-label={{t "timetable_aria"}}>
              {{t "timetable"}}
            </LinkTo>
          </li>
          <li>
            <LinkTo @route="home.dj-inquiry" aria-label={{t "djinquiry.aria"}}>
              {{t "djinquiry.title"}}
            </LinkTo>
          </li>
        </ul>
      </li>
      <li>
        <LinkTo @route="home.chat" aria-label={{t "chat.label.aria"}}>>
          {{t "chat.title"}}
        </LinkTo>
      </li>
      <li>
        <a href="http://releases.datafruits.fm/" target="_blank" rel="noopener" aria-label={{t "releases.aria"}}>
          {{t "label"}}
        </a>
      </li>
      <li>
        <LinkTo @route="home.about" aria-label={{t "about_aria"}}>
          {{t "about"}}
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="home" aria-label={{t "blog_aria"}}>
          {{t "blog"}}
        </LinkTo>
      </li>
      <li>
        <a href="https://cooltrash.shop/" target="_blank" rel="noopener">
          {{t "shop"}}
        </a>
      </li>
      <li>
        <LinkTo @route="home.subscribe">
          {{t "subscribe"}}
        </LinkTo>
      </li>
    </ul>
  {{/if}}
</nav>
