<TimetableLoader @query={{@query}} as |loader|>
  <AsCalendar
    @occurrences={{loader.data}}
    @dayStartingTime="0:00"
    @dayEndingTime="23:00"
    @timeSlotDuration="00:30"
    @nowTimeLabelFormat="h:mm a"
    @type={{@view}}
    @onNavigate={{action "calendarNavigate"}}
    @onClickOccurrence={{action "calendarClickOccurrence"}}
    @onAddOccurrence={{action "calendarAddOccurrence"}}
    @onUpdateOccurrence={{action "calendarUpdateOccurrence"}}
    @onEditOccurrence={{action "calendarEditOccurrence"}}
    @onRemoveOccurrence={{action "calendarRemoveOccurrence"}}
    @startingDate={{@startingDate}}
    @onTypeChange={{@onCalendarTypeChange}} as |occurrence timetable calendar|
  >
    <AsCalendar::Occurrence
      @model={{occurrence}}
      @isMonthView={{occurrence.calendar.isMonthView}}
      @timeSlotHeight={{calendar.timeSlotHeight}}
      @timeSlotDuration={{calendar.timeSlotDuration}} as |model|
    >
      {{!-- template-lint-disable no-inline-styles --}}
      <h1 class="as-calendar-occurrence__title" style={{titleStyle}}>
        <LinkTo @route="home.show" @model={{model.content.id}} @title={{model.title}}>
          {{model.title}}
        </LinkTo>
      </h1>
    </AsCalendar::Occurrence>
  </AsCalendar>
</TimetableLoader>
