<div class="page-spacing">
  <div class="flex">
    {{#if this.model.length}}
      <h1>{{t "profile.notifications.header"}}</h1>
    {{else}}
      <h1>{{t "profile.notifications.no_notifications_yet"}}</h1>
    {{/if}}
    <img src="/assets/images/futsu.png" alt="{{t "profile.notifications.pidgeon"}}" class="ml-2" />
  </div>

  <ul>
    {{#each this.model as |notification|}}
      <UserNotification @notification={{notification}} />
    {{/each}}
  </ul>
</div>