<div class="page-spacing">

  <h1 class="debussy-header">
    {{t "profile.settings"}}
  </h1>

  <div class="page-bg user-settings-menu">

    <div
      id="user-profile-settings-greeting"
      class="py-4 pl-4 flex justify-start font-semibold"
    >
      <span class="text-3xl">
        {{this.randomGreeting}}
      </span>
      <span class="pl-8 text-4xl font-cursive">
        {{this.currentUser.user.username}}
      </span>
    </div>

    <div
      id="user-profile-settings-avatar" 
      class="flex flex-wrap justify-evenly">
      <div>
        <label class="align-top" for="updateProfilePicture"> {{t "profile.my_pic"}}</label>
        <br/>
        <input
          class="py-4 px-4 my-2 text-df-yellow w-full semibold border-dashed"
          id="updateProfilePicture"
          name="updateProfilePicture"
          type="file"
          {{on "change" this.updateFile}}
        />
      </div>

      <div>
        <label for="chatPreview">
          {{t "profile.chat"}}
        </label>
        <div
          class="py-4 my-2 flex flex-wrap border-white border-dashed border-2"
          id="chatPreview"
          name="chatPreview"
        >
          <img class="mx-4 w-6 rounded-md" src="{{this.currentUser.user.avatarUrl}}">
          <span class="text-df-yellow align-text-bottom">
            {{this.currentUser.user.username}}
          </span>
          <span class="px-2 text-df-yellow">
            {{t "profile.chat_test"}}
          </span>
        </div>
      </div>
    </div>

    <hr class="my-8"/>

    <form>

      <div class="flex justify-around">
        <label class="ml-4 align-top text-white">
          {{t "profile.bio"}}
        </label>
        <Textarea
          class="user-settings-input h-20"
          @value={{this.currentUser.user.bio}}
        />
      </div>
      
      <div class="flex justify-around">
        <label class="align-top text-white min-h-min">
          {{t "profile.homepage"}}
        </label>
        <Input
          class="user-settings-input"
          @value={{this.currentUser.user.homepage}}
        />
      </div>
      
      <br />
      
      <div class="flex flex-wrap justify-evenly">
        <div>
          <label class="align-top text-white">{{t "profile.pronouns"}}</label>
          <Input
            class="user-settings-input"
            @value={{this.currentUser.user.pronouns}}
          />
        </div>
        <div>
          <label class="text-white">{{t "profile.style"}}</label>
          <select
            id="style-selector"
            name="style-selector"
            class="user-settings-input h-9"
            aria-label="{{ t "style"}}"
            onchange={{action setUserStyle value="target.value"}}>
            {{#each this.availableStyles as |style|}}
              <option
                value={{style}}
                selected={{eq this.currentUser.user.style style}}
              >
                {{style}}
              </option>
            {{/each}}
          </select>
        </div>
        <div>
          <label class="text-white">
            {{t "profile.time_zone"}}
          </label>
          <TimezoneSelect
            @selectedTimezone={{this.currentUser.user.timeZone}}
            @onChange={{this.setTimezone}}
            />
        </div>        
      </div>

      <br />

      <div class="my-2 flex justify-center">
        <input
          type="submit"
          value="{{t "profile.submit"}}"
          class="cool-button"
          data-test-submit
        >
      </div>
    </form>

  </div>
</div>
