{{#if changeset.errors}}
<div class="error-message">
  {{t "signup.error"}}
</div>
{{/if}}
<form {{action "submit" on="submit"}}>
  <div>
    <ValidatedField
      @type="text"
      @changeset={{@changeset}}
      @property="email"
      />
  </div>
  <div>
    <ValidatedField
      @type="text"
      @changeset={{@changeset}}
      @property="username"
      />
  </div>
  <div>
    <ValidatedField
      @type="password"
      @changeset={{@changeset}}
      @property="password"
      />
  </div>
  <div>
    <label for="coc-checkbox"> <a href="https://datafruits.fm/coc" target="blank">{{t "djinquiry.coc_accept"}}</a></label>
    <Input
      @type="checkbox"
      @checked={{this.cocAccepted}}
      name="coc-checkbox"
      />
  </div>
  <div class="mt-2">
    <input
      type="submit"
      value="{{t "signup.submit"}}"
      class="cool-button"
      disabled={{not this.canSave}}
      >
  </div>
</form>
