<span
  {{did-insert this.didInsert}}
  >
  <audio preload="" id="radio-player">
    <source
      src="https://streampusher-relay.club/datafruits.mp3"
      type="audio/mp3"
    >
    <source
      src="https://streampusher-relay.club/datafruits.ogg"
      type="audio/ogg"
    >
  </audio>
  <div class="radio-container">
    <div class="player-controls">
      {{#if loading}}
        <a class="jp-loading" href="javascript:;" tabindex="1">
          {{t "player.loading"}}
        </a>
      {{else if playing}}
        <a class="jp-pause" tabindex="1" {{on "click" this.pause}}>
          {{t (if this.playingPodcast "player.pause" "player.stop")}}
        </a>
      {{else if paused}}
        <a {{on "click" this.play}}
          {{on "mouseenter" this.playButtonMouseEnter}}
          {{on "mouseleave" this.playButtonMouseOut}}
          title={{t "player.title.play"}}
          class="jp-play"
          href="javascript:;"
          tabindex="1"
        >
          {{t "player.play"}}
        </a>
      {{/if}}
      <span
        id="volume-control"
        name="volume-control"
        role="button"
        class="jp-volume-controls"
        aria-label={{t "player.aria.volume"}}
        {{on "mouseEnter" this.showVolumeControl}}
        {{on "mouseLeave" this.hideVolumeControl}}
      >
        {{#if muted}}
          {{!-- template-lint-disable no-nested-interactive --}}
          <a class="jp-unmute" tabindex="1"
            {{on 'click' this.unmute}} >
            <FaIcon @icon="volume-off" />
          </a>
        {{else}}
          <a class="jp-mute" tabindex="1"
            {{on "click" this.mute}} >
            <FaIcon @icon="volume-up" />
          </a>
        {{/if}}
        {{#if showingVolumeControl}}
          <input
            class="volume-control"
            type="range"
            min="0"
            max="1"
            step="0.1"
            {{on "input" this.volumeChanged}}
            value={{volume}}
          >
        {{/if}}
      </span>
    </div>
    <div class="now-playing">
      {{#if error}}
        <span>
          {{error}}
        </span>
      {{else}}
        <span class="jp-title">
          {{title}}
        </span>
      {{/if}}
    </div>
  </div>
  {{#if playingPodcast}}
    <div class="seek">
      <div class="seek-bar-wrapper">
        <input
          class="seek-bar"
          type="range"
          step="any"
          {{on "input" this.seek}}
          value={{playTime}}
        >
      </div>
    </div>
  {{/if}}
</span>
