{{page-title "about"}}
<div class="page-spacing">
  <h1 class="debussy-header">
    {{t "just_a_website"}}
  </h1>
  <div class="page-bg">
    <div class="about-section">
      <div id="about-us-details">
        <h1>About us</h1>
        <div class="about-section-text">
          <p>
            {{t "about_datafruits_1"}}
          </p>
          <p>
            {{t "about_datafruits_2"}}
          </p>
          <p>
            {{t "about_datafruits_3"}}
          </p>
        </div>
      </div>
      <div id="community-details">
        <h1>Community</h1>
        <div class="about-section-text">
          <p>
            Our collective of artists and contributors are expected to positively engage and to follow our guidelines. Our volunteer moderators are responsible for enforcing the rules listed in the
            <span>
              <LinkTo @route="home.coc" aria-label={{t "code_of_conduct_aria"}}>
                {{t "code_of_conduct"}}.
              </LinkTo>
            </span>
            Datafruits is a self-governing community that democratically decides on the direction of our shared space.
          </p>
        </div>
      </div>
      <div id="support-details">
        <h1>Support</h1>
        <div class="about-section-text">
          <p>
            {{t "about_page.listenersupport"}}
          </p>
          <div>
            <a href="https://www.ampled.com/artist/datafruits" target="_blank" rel="noopener noreferrer" aria-label="Ampled">
              <img src="/assets/images/ampled.svg" aria-hidden="true" class="md:w-72">
            </a>
          </div>
        </div>
        <div class="about-section">
          <p>
            {{t "about_page.donate_request"}}
          </p>
          <a href="https://paypal.me/datafruitsfm" target="_blank" rel="noopener" aria-label={{t "about_page.donate_aria"}}>
            {{t "about_page.donate_linktext"}}
          </a>
        </div>
      </div>
      <div id="subscribe-details">
        <h1>Subscribe</h1>
        <div class="about-section-text">
        <p>
          {{t "subscribe.description"}}
        </p>
        <LinkTo @route="home.subscribe" aria-label={{t "subscribe.aria"}}>
          {{t "subscribe.aria"}}
        </LinkTo>
        </div>
      </div>
      <hr class="border-df-green my-4 blm:border-white"/>
      <div id="social-media-links" class="text-4xl py-2">
        <ul class="flex flex-wrap mb-4 justify-evenly">
          <li>
            <a
              href="https://discord.gg/83mteTQDvu"
              title={{t "discord.title"}}
              aria-label={{t "discord.aria"}}
              target="_blank"
              rel="noopener"
            >
              <FaIcon @icon="discord" @prefix="fab" />
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UCYTXGeHBvKP0Q9Wcxfop5FA/"
              title={{t "youtube.title"}}
              aria-label={{t "youtube.aria"}}
              target="_blank"
              rel="noopener"
            >
              <FaIcon @icon="youtube" @prefix="fab" />
            </a>
          </li>
          <li>
            <a
              href="https://www.tiktok.com/@datafruits"
              title={{t "tiktok.title"}}
              aria-label={{t "tiktok.aria"}}
              target="_blank"
              rel="noopener"
            >
              <FaIcon @icon="tiktok" @prefix="fab" />
            </a>
          </li>
          <li>
            <a
              href="http://twitter.com/datafruits"
              title={{t "twitter.title"}}
              aria-label={{t "twitter.aria"}}
              target="_blank"
              rel="noopener"
            >
              <FaIcon @icon="twitter" @prefix="fab" />
            </a>
          </li>
          <li>
            <a
              href="http://instagram.com/datafruits"
              title={{t "instagram.title"}}
              aria-label={{t "instagram.aria"}}
              target="_blank"
              rel="noopener"
            >
              <FaIcon @icon="instagram" @prefix="fab" />
            </a>
          </li>
          <li>
            <a
              href="http://soundcloud.com/datafruits"
              title={{t "soundcloud.title"}}
              aria-label={{t "soundcloud.aria"}}
              target="_blank"
              rel="noopener"
            >
              <FaIcon @icon="soundcloud" @prefix="fab" />
            </a>
          </li>
          <li>
            <a 
              href="https://datafruits.bandcamp.com/"
              title={{t "bandcamp.title"}}
              aria-label={{t "bandcamp.aria"}}
              target="_blank"
              rel="noopener"
            >
              <FaIcon @icon="bandcamp" @prefix="fab" />
            </a>
          </li>
          <li>
            <a 
              href="https://www.patreon.com/datafruits"
              title={{t "patreon.title"}}
              aria-label={{t "patreon.aria"}}
              target="_blank"
              rel="noopener"
            >
              <FaIcon @icon="patreon" @prefix="fab" />
            </a>
          </li>
          <li>
            <a
              href="http://github.com/datafruits"
              title={{t "github.title"}}
              aria-label={{t "github.aria"}}
              target="_blank"
              rel="noopener"
            >
              <FaIcon @icon="github" @prefix="fab" />
            </a>
          </li>
          <li>
            <a href="https://paypal.me/datafruitsfm" 
              title={{t "paypal.title"}}
              target="_blank" 
              rel="noopener" 
              aria-label={{t "about_page.donate_aria"}}
            >
              <FaIcon @icon="paypal" @prefix="fab" />
            </a>
          </li>
          <li>
            <a
              href="mailto:info@datafruits.fm"
              title={{t "email.title"}}
              aria-label={{t "email.aria"}}
              target="_blank"
              rel="noopener"
            >
              <FaIcon @icon="envelope" @prefix="fas" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="http://datavegetables.club" class="text-df-blue hover:text-df-yellow text-shadow-none">
      {{t "secret"}}
    </a>
  </div>
</div>
