{{#if fastboot.isFastBoot}}
  <div class="main-content">
    <div class="loading-container">
      <img alt={{t "loading"}} src={{random-loading-spinner}} />
    </div>
    <div class="loading-container">
      <h1>{{random-loading-message}}</h1>
    </div>
  </div>
{{else}}
  <NetworkStatus as |status|>
    <DatafruitsChat
      @networkStatus={{status}}
      @authenticate={{fn this.authenticate}}
    />
  </NetworkStatus>
{{/if}}
