{{title "Code Of Conduct"}}
<div class="main-content">
  <h1>
    {{t "code_of_conduct"}}
  </h1>
  <h2>
    {{t "coc.pledge.title"}}
  </h2>
  <p>
    {{t "coc.pledge.p1"}}
  </p>
  <h2>
    {{t "coc.standards.title"}}
  </h2>
  <p>
    {{t "coc.standards.p1"}}
  </p>
  <ul>
    <li>
      {{t "coc.standards.p1_bullet1"}}
    </li>
    <li>
      {{t "coc.standards.p1_bullet2"}}
    </li>
    <li>
      {{t "coc.standards.p1_bullet3"}}
    </li>
    <li>
      {{t "coc.standards.p1_bullet4"}}
    </li>
    <li>
      {{t "coc.standards.p1_bullet5"}}
    </li>
  </ul>
  <p>
    {{t "coc.standards.p2"}}
  </p>
  <ul>
    <li>
      {{t "coc.standards.p2_bullet1"}}
    </li>
    <li>
      {{t "coc.standards.p2_bullet2"}}
    </li>
    <li>
      {{t "coc.standards.p2_bullet3"}}
    </li>
    <li>
      {{t "coc.standards.p2_bullet4"}}
    </li>
    <li>
      {{t "coc.standards.p2_bullet5"}}
    </li>
  </ul>
  <h2>
    {{t "coc.responsibilities.title"}}
  </h2>
  <p>
    {{t "coc.responsibilities.p1"}}
  </p>
  <p>
    {{t "coc.responsibilities.p2"}}
  </p>
  <h2>
    {{t "coc.scope.title"}}
  </h2>
  <p>
    {{t "coc.scope.p1"}}
  </p>
  <h2>
    {{t "coc.enforcement.title"}}
  </h2>
  <p>
    {{t "coc.enforcement.p1_part1"}}
    <a href="mailto:info@datafruits.fm">
      {{t "coc.enforcement.p1_linktext"}}
    </a>
    {{t "coc.enforcement.p1_part2"}}
  </p>
  <p>
    {{t "coc.enforcement.p2"}}
  </p>
  <h2>
    {{t "coc.attribution.title"}}
  </h2>
  <p>
    {{t "coc.attribution.p1_part1"}}
    <a
      href="http://contributor-covenant.org/version/1/4"
      target="_blank"
      rel="noopener"
    >
      {{t "coc.attribution.p1_linktext"}}
    </a>
    {{t "coc.attribution.p1_part2"}}
  </p>
</div>
