<div class="mt-5 pt-2 px-5">
  <div class="bg-df-pink fancy-box p-2">
    <div class="flex">
      <div class="w-1/2">
        <h1 class="font-cursive text-2xl mb-2">
          {{this.model.username}}
        </h1>
        {{#if this.model.imageMediumUrl}}
          <img
            class="rounded-lg mb-2"
            src={{this.model.imageMediumUrl}}
            alt={{this.model.username}}
            >
        {{else}}
          <img
            class="rounded-lg mb-2"
            src="/assets/images/show_placeholder.jpg"
            alt={{this.model.username}}
            >
        {{/if}}
        <p class="">
          <span>{{t "profile.joined"}}</span> - {{format-day this.model.createdAt}}
        </p>
        <p class="">
          <span>{{t "profile.last_login"}}</span> - <span>{{format-day this.model.lastSignInAt}}</span>
        </p>
        <p class="mt-2 mb-2">
          <span>Lv. 0</span>
          <div>
            <span class="text-xs">Ƒ</span><span>{{this.model.fruitTicketBalance}}</span>
          </div>
        </p>
        <User::Badges @role={{this.model.role}} />
        <p class="mt-2 mb-2">
          {{this.model.bio}}
        </p>
        <p class="mt-2 mb-2">
          <a href="{{this.qualifiedHomepageUrl}}" target="_blank" rel="noreferrer noopener">
            {{this.model.homepage}}
          </a>
        </p>
        <span>{{t "profile.style"}} <span class="text-df-yellow font-bold">{{this.model.style}}</span></span>
      </div>
      <div class="w-1/2">
        {{log this.model.fruitsAffinity}}
        <FruitsAffinity @fruitsAffinity={{this.model.fruitsAffinity}} />
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-5">
    {{#if this.model.nextShow}}
      <h2 class="text-xl">
        {{t "dj.upcoming_shows"}}
      </h2>
      <LinkTo @route="home.show" @model={{this.model.nextShow}}>
        {{this.model.nextShow.title}} - {{format-date this.model.nextShow.start}}
      </LinkTo>
    {{/if}}
  </div>
</div>

{{#if (includes 'dj' this.model.roles)}}
  <div class="mt-5 pt-2 px-5">
    <h2 class="text-xl">
      {{t "dj.podcasts"}}
    </h2>
    <Djs::Tracks @dj={{this.model}} @page={{this.router.currentRoute.queryParams.page}} />
  </div>
{{/if}}
