<div class="mt-5 pt-2 px-5">
  <div class="">
    <h1 class="font-cursive text-2xl">
      {{this.model.username}}
    </h1>
    <img src={{this.model.imageMediumUrl}} alt={{this.model.username}}>
    <p>
      {{this.model.bio}}
    </p>
    <span>{{t "profile.style"}} <span class="text-df-yellow font-bold">{{this.model.style}}</span></span>
  </div>
  <div class="col-md-6">
    {{#if this.model.nextShow}}
      <h2>
        {{t "dj.upcoming_shows"}}
      </h2>
      <LinkTo @route="home.show" @model={{this.model.nextShow}}>
        {{this.model.nextShow.title}} - {{format-date this.model.nextShow.start}}
      </LinkTo>
    {{/if}}
  </div>
</div>
<div class="mt-5 pt-2 px-5">
  <h2>
    {{t "dj.podcasts"}}
  </h2>
  <Djs::Tracks @dj={{this.model}} @page={{this.router.currentRoute.queryParams.page}} />
</div>
<div class="row">
  {{#each this.model.link as |link|}}
    <a href={{link.url}} target="_blank" rel="noopener noreferrer">
      {{link.url}}
    </a>
  {{/each}}
</div>
