<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <h1>{{model.username}}</h1>
      <img src={{model.imageUrl}} />
      <p>
        {{model.bio}}
      </p>
    </div>
    <div class="col-md-6">
      <h2>Upcoming shows</h2>
      <table>
        <tbody>
          {{#each model.upcomingShows as |show|}}
            <tr>
              <td>
                {{#link-to "home.show" show}}{{show.title}}{{/link-to}}
                <span>{{format-date show.start}}</span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <h2>Podcasts</h2>
    {{#each model.tracks as |track|}}
      {{podcast-track
        cdnUrl=track.cdnUrl title=track.title labels=track.labels selectLabel="browseLabel"}}
    {{/each}}
  </div>
  <div class="row">
    {{#each model.link as |link|}}
      <a href={{link.url}} target="_blank" rel="noopener">{{link.url}}</a>
    {{/each}}
  </div>
</div>
