<div class="main-content">
  <div class="djs">
    {{#each model as |dj|}}
      <div class="dj">
        <h2 class="name">
          <LinkTo @route="home.dj" @model={{dj.username}}>
            {{dj.username}}
          </LinkTo>
        </h2>
        {{#if (eq dj.imageThumbUrl null)}}
          <img
            width="150"
            height="150"
            src="/assets/images/dj_placeholder.png"
            alt={{dj.username}}
          />
        {{else}}
          <img
            width="150"
            height="150"
            src={{dj.imageThumbUrl}}
            alt={{dj.username}}
          />
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>