<section class="page-spacing">
  <section class="flex justify-between mb-4">
    <h1 class="">{{t "forum.title"}}</h1>
    {{#if this.session.isAuthenticated}}
      <LinkTo class="cool-button" @route="home.forum.new">
        {{t "forum.new_topic"}}
      </LinkTo>
    {{/if}}
  </section>
  <section class="mb-2">
    <ul>
      {{#each this.model as |forumThread|}}
        <li class="">
          <LinkTo
            class="bg-df-pink text-2xl rounded-lg p-2 mb-2 block hover:bg-white flex justify-between"
            @route="home.forum.show"
            @model={{forumThread.title}}>
            <span>
              {{forumThread.title}}
            </span>
            <div class="flex">
              <span class="text-sm">
                {{forumThread.posterUsername}}
              </span>
              <span>
                <img src="{{forumThread.posterAvatar}}" />
              </span>
            </div>
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  </section>
</section>
