<h2 class="text-2xl text-shadow my-2 mt-5 pt-2 px-5">
  {{t "home.upcoming_shows"}}
</h2>
<div class="flex flex-wrap flex-shrink-0">
  {{#each model.upcomingShows as |show|}}
    <div class="m-3 bg-df-green rounded-lg w-full md:w-1/4 p-2 flex flex-col justify-between">
      <LinkTo @route="home.show" @model={{show.id}}>
        {{show.title}}
      </LinkTo>
      <div class="">
        {{format-date show.start}}
      </div>
      <div class="self-center">
        <LinkTo @route="home.show" @model={{show.id}}>
          {{#if show.thumbImageUrl}}
            <img
              width="300"
              height="300"
              src={{show.thumbImageUrl}}
              alt={{show.title}}
            >
          {{else if show.host.imageUrl}}
            <img
              width="300"
              height="300"
              src={{show.host.imageUrl}}
              alt={{show.title}}
            >
          {{else}}
            <img
              width="300"
              height="300"
              src="/assets/images/show_placeholder.jpg"
              alt={{show.title}}
            >
          {{/if}}
        </LinkTo>
      </div>
    </div>
  {{/each}}
</div>
<h2 class="text-2xl text-shadow my-2">
  {{t "home.latest_podcasts"}}
</h2>
<div class="flex flex-wrap flex-shrink-0">
  {{#each model.latestPodcasts as |track|}}
    <div class="m-3 bg-df-pink rounded-lg flex flex-col items-center justify-between w-full md:w-1/4 p-2">
      <LinkTo @route="home.show" @model={{track.scheduledShow.id}}>
        {{#if track.scheduledShow.thumbImageUrl}}
          <img
            width="300"
            height="300"
            src={{track.scheduledShow.thumbImageUrl}}
            alt={{track.title}}
          >
        {{else}}
          <img
            src="/assets/images/show_placeholder.jpg"
            alt={{track.title}}
          >
        {{/if}}
      </LinkTo>
      <LinkTo @route="home.show" @model={{track.scheduledShow.id}}>
        {{track.title}}
      </LinkTo>
    </div>
  {{/each}}
</div>
<h2 class="text-2xl text-shadow my-2">
  {{t "home.events"}}
</h2>
<div class="flex flex-wrap flex-shrink-0">
  {{#each this.model.blogPosts as |post|}}
    <BlogPostPreview
      @post={{post}}
      class="flex flex-col items-center m-3 bg-df-pink rounded-lg p-2 w-full md:w-1/4" />
  {{/each}}
</div>
