<div class="main-content">
  <h2>UPCOMING SHOWS</h2>
  <div class="upcoming-shows">
    {{#each model.upcomingShows as |show|}}
      <div class="show">
        {{show.title}}
        <div class="show-image">
          {{#if show.thumbImageUrl}}
            <img src={{model.thumbImageUrl}} alt={{show.title}}>
          {{else}}
            <img src="/assets/images/dj_placeholder.png" alt={{show.title}}>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
  <h2>LATEST PODCASTS</h2>
  <div class="latest-podcasts">
    {{#each model.latestPodcasts as |track|}}
      <div class="latest-podcast">
        {{#link-to 'home.show' track.scheduledShow.id}}
          <img src={{track.scheduledShow.thumbImageUrl}} alt={{track.scheduledShow.title}}>
          {{track.title}}
        {{/link-to}}
      </div>
    {{/each}}
  </div>
</div>
