<section class="page-spacing">
  <h1 class="mb-2 text-xl">
    <RandomPasswordMessage />
  </h1>

  <form {{action "submit" on="submit"}}>
    <div class="mb-4">
      <label class="" for="login">
        {{t "password_reset.email"}}
      </label>
      <Input id="login"
        placeholder="email"
        class=""
        type="email"
        @value={{this.email}}
        autofocus={{true}}
        autocapitalize="off" />
    </div>

    <div class="flex items-center justify-between">
      <Input
        @type="submit"
        class="cool-button cursor-pointer"
        disabled={{this.cantSubmit}}
        data-test-submit-button
        @value={{t "password_reset.submit"}} />
    </div>
  </form>
</section>
