{{title (t "podcasts.title")}}
<div class="main-content">
  <h1>
    {{t "home.podcasts.title"}}
  </h1>
  <div>
    <h4>
      {{t "home.podcasts.subscribe_request"}}
    </h4>
    <p>
      <a href="itpc://datafruits.streampusher.com/podcasts/datafruits.xml">
        {{t "home.podcasts.link_itunes"}}
      </a>
      <a href="overcast://datafruits.streampusher.com/podcasts/datafruits.xml">
        {{t "home.podcasts.link_overcast"}}
      </a>
      <a href="podcast://datafruits.streampusher.com/podcasts/datafruits.xml">
        {{t "home.podcasts.link_podcastsapp"}}
      </a>
      <a href="https://datafruits.streampusher.com/podcasts/datafruits.xml">
        {{t "home.podcasts.link_rss"}}
      </a>
    </p>
    <PodcastsSearch
      @tracks={{model.tracks}}
      @labels={{model.labels}}
      @meta={{model.meta}}
      @updateSearch={{action "updateSearch"}}
      @selectedTags={{tags}}
      @searchParams={{searchParams}}
    />
  </div>
</div>
