{{page-title (t "podcasts.title")}}
<div class="page-spacing">
  <h1 class="debussy-header">
    {{t "podcasts.title"}}
  </h1>
  <div class="page-bg">
    <Podcasts
      @labels={{this.model.labels}}
      @query={{this.router.currentRoute.queryParams}}
      @page={{this.router.currentRoute.queryParams.page}}
    />
  </div>
</div>