<div class="mt-5 pt-2 px-5">
  {{page-title (t "podcasts.title")}}
  <h1 class="text-center text-4xl font-debussy tracking-widest">
    {{t "podcasts.title"}}
  </h1>
  <div>
    <Podcasts
      @labels={{this.model.labels}}
      @query={{this.router.currentRoute.queryParams}}
      @page={{this.router.currentRoute.queryParams.page}}
    />
  </div>
</div>
