<div class="mt-5 pt-2 px-5">
  {{page-title (t "podcasts.title")}}
  <h1>
    {{t "podcasts.title"}}
  </h1>
  <div>
    <PodcastsSearch
      @tracks={{this.model.tracks}}
      @labels={{this.model.labels}}
      @meta={{this.model.meta}}
      @updateSearch={{this.updateSearch}}
      @selectedTags={{this.tags}}
      @searchParams={{this.searchParams}}
    />
  </div>
</div>
