<section class="page-spacing">
  <h1 class="debussy-header">
    {{t "donate.title"}}
  </h1>
  <div class="page-bg bg-df-blue-dark wiki-article">
    <div class="support-section">
      <div class="support-section-text">
        <p>
          {{t "about_page.listenersupport"}}
        </p>
      </div>
      <ul class="flex">
        <li>
          <h3>DATAFRUITS PREMIUM</h3>
          <span>$7/ mo</span>
          <a
            class="flex justify-center"
            href="https://www.patreon.com/checkout/datafruits?rid=2647278"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="{{t "about_page.datafruits_premium"}}">
            <img
              src="assets/images/datafruits_premium_membership_card.gif"
              alt="{{t "about_page.datafruits_premium"}}" />
          </a>
          <div class="tier-benefits">
            <ul>
              <li>
                * You will get a package of datafruits stickers every other month.

              </li>
              <li>
                * You'll get a 700 fruit tickets stipend every month.
              </li>
              <li>
                * Discord access
              </li>
            </ul>
          </div>
        </li>
        <li>
          <h3>EMERALD FRUITIZEN</h3>
          <span>$14/ mo</span>
          <a
            class="flex justify-center"
            href="https://www.patreon.com/checkout/datafruits?rid=3045500"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="{{t "about_page.datafruits_emerald"}}">
            <img
              src="assets/images/emerald_fruitizen.gif"
              alt="{{t "about_page.datafruits_premium"}}" />
          </a>
        </li>
        <li>
          <h3>GOLDEN FRUITIZARD</h3>
          <span>$28/ mo</span>
          <a
            class="flex justify-center"
            href="https://www.patreon.com/checkout/datafruits?rid=2707792"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="{{t "about_page.datafruits_gold"}}">
            <img
              src="assets/images/datafruits_gold_card.gif"
              alt="{{t "about_page.datafruits_premium"}}" />
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Hate stickers? Looking for a more budget friendly way to support?</h2>
      <ul class="flex">
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
      </ul>
    </div>
    <div class="support-section">
      <a class="flex justify-center" href="https://patreon.com/datafruits" target="_blank" rel="noopener noreferrer" aria-label="Patreon">
        <img src="/assets/images/patreon.png" alt="patreon" class="md:w-72">
      </a>
    </div>
  </div>
</section>