<section class="page-spacing">
  <h1 class="debussy-header">
    {{t "donate.title"}}
  </h1>
  <div class="page-bg bg-df-blue-dark wiki-article">
    <div class="support-section">
      <div class="support-section-text">
        <p>
          {{t "about_page.listenersupport"}}
        </p>
      </div>
      <ul class="flex space-x-4">
        <li class="tier-col">
          <h3 class="tier-header">
            <a
              href="https://www.patreon.com/checkout/datafruits?rid=2647278"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="{{t "about_page.datafruits_premium"}}">
              DATAFRUITS PREMIUM
            </a>
          </h3>
          <span>$7/ mo</span>
          <a
            class="flex justify-center"
            href="https://www.patreon.com/checkout/datafruits?rid=2647278"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="{{t "about_page.datafruits_premium"}}">
            <img
              src="assets/images/datafruits_premium_membership_card.gif"
              alt="{{t "about_page.datafruits_premium"}}" />
          </a>
          <div class="tier-benefits">
            <ul>
              <li>
                * You will get a package of datafruits stickers every other month.

              </li>
              <li>
                * You'll get a Ƒ700 fruit tickets stipend every month.
              </li>
              <li>
                * Discord access
              </li>
            </ul>
          </div>
        </li>
        <li class="tier-col">
          <h3 class="tier-header">
            <a
              href="https://www.patreon.com/checkout/datafruits?rid=3045500"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="{{t "about_page.datafruits_emerald"}}">
              EMERALD FRUITIZEN
            </a>
          </h3>
          <span>$14/ mo</span>
          <a
            class="flex justify-center"
            href="https://www.patreon.com/checkout/datafruits?rid=3045500"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="{{t "about_page.datafruits_emerald"}}">
            <img
              src="assets/images/emerald_fruitizen.gif"
              alt="{{t "about_page.datafruits_premium"}}" />
          </a>
          <div class="tier-benefits">
            <ul>
              <li>
                * You will get a package of datafruits stickers every other month.

              </li>
              <li>
                * You'll get a Ƒ1400 fruit tickets stipend every month.
              </li>
              <li>
                * Discord access
              </li>
            </ul>
          </div>
        </li>
        <li class="tier-col">
          <h3 class="tier-header">
            <a
              href="https://www.patreon.com/checkout/datafruits?rid=2707792"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="{{t "about_page.datafruits_gold"}}">
              GOLDEN FRUITIZARD
            </a>
          </h3>
          <span>$28/ mo</span>
          <a
            class="flex justify-center"
            href="https://www.patreon.com/checkout/datafruits?rid=2707792"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="{{t "about_page.datafruits_gold"}}">
            <img
              src="assets/images/datafruits_gold_card.gif"
              alt="{{t "about_page.datafruits_premium"}}" />
          </a>
          <div class="tier-benefits">
            <ul>
              <li>
                * You will get a package of datafruits stickers every other month.

              </li>
              <li>
                * You'll get a Ƒ3000 fruit tickets stipend every month.
              </li>
              <li>
                * Discord access
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="support-section">
      <h2 class="debussy-header">Hate stickers? Still want to support?</h2>
      <ul class="flex space-x-4">
        <li class="tier-col">
          <h3 class="tier-header">
            <a
              href="https://www.patreon.com/checkout/datafruits?rid=2707958"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="{{t "about_page.just_a_website"}}">
              it's just a website
            </a>
          </h3>
          <span>$1/ mo</span>
          <a
            class="flex justify-center"
            href="https://www.patreon.com/checkout/datafruits?rid=2707958"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="{{t "about_page.just_a_website"}}">
            <img
              width=460
              src="assets/images/thanks.gif"
              alt="{{t "about_page.just_a_website"}}" />
          </a>
          <div class="tier-benefits">
            <ul>
              <li>
                * Discord access
              </li>
            </ul>
          </div>
        </li>
        <li class="tier-col">
          <h3 class="tier-header">
            <a
              href="https://www.patreon.com/checkout/datafruits?rid=3525904"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="{{t "about_page.this_is_amazing"}}">
              this is amazing
            </a>
          </h3>
          <span>$2/ mo</span>
          <a
            class="flex justify-center"
            href="https://www.patreon.com/checkout/datafruits?rid=3525904"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="{{t "about_page.this_is_amazing"}}">
            <img
              width=460
              src="assets/images/shrimpshakecereal_spin.gif"
              alt="{{t "about_page.this_is_amazing"}}" />
          </a>
          <div class="tier-benefits">
            <ul>
              <li>
                * 1 dollar more than the it's just a website tier
              </li>
              <li>
                * Discord access
              </li>
            </ul>
          </div>
        </li>
        <li class="tier-col">
          <h3 class="tier-header">
            <a
              href="https://www.patreon.com/datafruits"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="{{t "about_page.duckle_tier"}}">
              the duckle tier
            </a>
          </h3>
          <span>$3/ mo</span>
          <a
            class="flex justify-center"
            href="https://www.patreon.com/datafruits"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="{{t "about_page.duckle_tier"}}">
            <img
              src="assets/images/emojis/duckle.png"
              alt="{{t "about_page.duckle_tier"}}" />
          </a>
          <div class="tier-benefits">
            <ul>
              <li>
                * Only 1 person can be on the duckle tier at a time. Maybe you'll get it if you're lucky.
              </li>
              <li>
                * You'll get a Ƒ101 fruit tickets stipend every month.
              </li>
              <li>
                * Discord access
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="support-section">
      <a class="flex justify-center" href="https://patreon.com/datafruits" target="_blank" rel="noopener noreferrer" aria-label="Patreon">
        <img src="/assets/images/patreon.png" alt="patreon" class="md:w-72">
      </a>
    </div>
  </div>
</section>