{{title "Timetable"}}
<div class="main-content">
  <p>
    <TimetableCalendar
      @onCalendarTypeChange={{action "calendarTypeChange"}}
      @reloadCalendar={{action "reloadCalendar"}}
      @query={{this.query}}
      @startingDate={{this.start}}
      @view={{this.view}}
    />
  </p>
</div>
