{{title "Timetable"}}
<p>
  <TimetableCalendar
    @onTypeChange={{action "calendarTypeChange"}}
    @reloadCalendar={{action "reloadCalendar"}}
    @query={{query}}
    @startingDate={{start}}
    @view={{view}}
  />
</p>
