<div class="mt-5 pt-2 px-5">
  {{page-title (t "wiki.title")}}
  <h1>{{ t "wiki.welcome"}}</h1>

  {{#if this.session.isAuthenticated}}
    <div class="m-2">
      <LinkTo @route="home.wiki.new" class="cool-button">
        NEW ARTICLE
      </LinkTo>
    </div>
  {{/if}}

  <section>
    <h2>{{ t "wiki.latest"}}</h2>
    <ul class="text-2xl bold">
      {{#each this.model as |wikiPage|}}
        <li>
          <LinkTo @route="home.wiki.show" @model={{wikiPage.title}}>
            {{wikiPage.title}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  </section>
</div>
