{{page-title (t "wiki.title")}}
<div class="page-spacing">
  <h1 class="debussy-header">{{ t "wiki.welcome"}}</h1>

  <div class="rounded bg-df-blue-dark blm:bg-black my-2 pb-2">
    {{#if this.session.isAuthenticated}}
      <div class="py-4 my-2 mx-4">
        <LinkTo @route="home.wiki.new" class="cool-button">
          NEW ARTICLE
        </LinkTo>
      </div>
    {{/if}}

    <section>
      <h2 class="text-3xl font-cursive md:pl-2">{{ t "wiki.latest"}}</h2>
      <ul class="text-2xl bold underline md:pl-4">
        {{#each this.model as |wikiPage|}}
          <li>
            <LinkTo @route="home.wiki.show" @model={{wikiPage.title}}>
              {{wikiPage.title}}
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    </section>
  </div>
</div>
