{{#let (changeset @episode this.EpisodeValidations) as |changeset|}}
  {{#each this.errors as |error|}}
    <div class="error">{{error}}</div>
  {{/each}}
  <Ui::ChangesetForm
        @changeset={{changeset}}
        @onError={{this.onError}}
        @onSubmit={{this.onSubmit}} as |Form|>
      <section class="flex">
        <div>
          <Form.Input
            @label={{t "profile.my-shows.form.title"}}
            @fieldName="title"
            @containerClass='mb-2'
            />
          <div>
            <div>
              <span>Air date:</span> {{format-day @episode.start}} - {{format-time @episode.start}}
            </div>
            <label class="align-top" for="show-artwork"> {{t "profile.my-shows.form.artwork"}}</label>
            <br/>
            {{#if @episode.isNew}}
              {{#if changeset.image}}
                <img alt="artwork" width="300" height="300"
                  src="{{changeset.image}}">
              {{/if}}
            {{else}}
              {{#if changeset.thumbImageUrl}}
                <img alt="artwork" width="300" height="300"
                  src="{{changeset.thumbImageUrl}}">
              {{/if}}
            {{/if}}
            <input
              class="py-4 px-4 my-2 text-df-yellow w-full semibold border-dashed"
              id="showArtwork"
              name="showArtwork"
              type="file"
              {{on "change" this.updateFile}}
            />
          </div>
          <Form.Textarea
            @label={{t "profile.my-shows.form.description"}}
            @fieldName="description"
            @containerClass='mb-2'
            @size='lg'
            @value={{changeset.description}}
            rows='20'
            cols='50'
            />
          <TimePicker
            @property="start"
            @changeset={{changeset}}
            @onChange={{this.setEndAfterStart}}
            />
          <TimePicker
            @property="end"
            @changeset={{changeset}}
            @startTime={{changeset.start}}
            />
          {{#if @episode.airDatePassed}}
            <h2
              class="text-x">
              ARCHIVE
            </h2>
            <Form.Checkbox
              @type="checkbox"
              @label={{t "profile.my-shows.form.prerecorded-archive"}}
              id="use-prerecord"
              @fieldName="usePrerecordedFileForArchive"
              />
            <TrackUploader @changeset={{changeset}} />
            {{#if @episode.prerecordTrackFilename}}
              <span>{{@episode.prerecordTrackFilename}}</span>
            {{/if}}
            <div class="mb-2">
              <h3
                class="text-l">
                Select recording
              </h3>
              <MyShows::RecordingsSearch
                @changeset={{changeset}}
                />
            </div>
            <Form.Input
              @label={{t "profile.my-shows.form.youtube-link"}}
              @fieldName="youtubeLink"
              @containerClass='mb-2'
            />
            <Form.Input
              @label={{t "profile.my-shows.form.mixcloud-link"}}
              @fieldName="mixcloudLink"
              @containerClass='mb-2'
            />
            <Form.Input
              @label={{t "profile.my-shows.form.soundcloud-link"}}
              @fieldName="soundcloudLink"
              @containerClass='mb-2'
            />
            <label for="archive-status">Archive Status</label>
            <select
              id="archive-status"
              {{on "change" (pick "target.value" (set changeset "status"))}}
            >
              {{#each-in this.statusOptions as |key val|}}
                <option
                  value="{{val}}"
                  selected={{eq changeset.status val}}
                  >
                  {{key}}
                </option>
              {{/each-in}}
            </select>
          {{else}}
            <h2
              class="text-x">
              {{t "profile.my-shows.form.prerecorded-set"}}
            </h2>
            <TrackUploader
              @changeset={{changeset}}
              @onStartUpload={{this.onStartUpload}}
              @onFinishUpload={{this.onFinishUpload}}
            />
            {{#if changeset.prerecordTrackId}}
              {{changeset.prerecordTrackFilename}}
            {{/if}}
          {{/if}}
        </div>
      </section>
      <LabelsSelect
        class="mb-2"
        @changeset={{changeset}}
        />
      <div class="mb-4">
        <Button
          @type='submit'
          @intent='primary'
          disabled={{
            (or (eq this.isUploading true) (or Form.state.hasSubmitted changeset.isInvalid))
          }}
          class='cool-button mb-2'
          >
          {{t "profile.my-shows.form.update"}}
        </Button>
      </div>
      {{#if (or (eq this.currentUser.user.username @episode.hostedBy) (includes 'admin' this.currentUser.user.roles))}}
        <div>
          <Button
            @type='submit'
            @intent='danger'
            class='cool-button mb-2 danger'
            {{on "click" this.deleteEpisode}}
            >
            {{t "profile.my-shows.form.delete"}}
          </Button>
        </div>
      {{/if}}
  </Ui::ChangesetForm>
{{/let}}