{{#let (changeset @episode this.EpisodeValidations) as |changeset|}}
  <Ui::ChangesetForm
        @changeset={{changeset}}
        @onError={{this.onError}}
        @onSubmit={{this.onSubmit}} as |Form|>
      <section class="flex">
        <div>
          <Form.Input
            @label={{t "profile.my-shows.form.title"}}
            @fieldName="title"
            @containerClass='mb-2'
            />
          <div>
          <div>
            <span>Air date:</span> {{format-day @episode.start}} - {{format-time @episode.start}}
          </div>
            <label class="align-top" for="show-artwork"> {{t "profile.my-shows.form.artwork"}}</label>
            <br/>
            <input
              class="py-4 px-4 my-2 text-df-yellow w-full semibold border-dashed"
              id="showArtwork"
              name="showArtwork"
              type="file"
              {{on "change" this.updateFile}}
            />
          </div>
          <Form.Textarea
            @label={{t "profile.my-shows.form.description"}}
            @fieldName="description"
            @containerClass='mb-2'
            @size='lg'
            @value={{changeset.description}}
            rows='20'
            cols='50'
            />
          {{#if @episode.airDatePassed}}
            <h2
              class="text-x">
              ARCHIVE
            </h2>
            <Form.Checkbox
              @type="checkbox"
              @label="Use prerecorded file for archive"
              id="use-prerecord"
              @fieldName="usePrerecordedFileForArchive"
              />
            {{#if @episode.prerecordTrackFilename}}
              <span>{{@episode.prerecordTrackFilename}}</span>
            {{/if}}
            <h3
              class="text-l">
              Select recording
            </h3>
            <MyShows::RecordingsSearch
              @changeset={{changeset}}
              />
            <Form.Input
              @label={{t "profile.my-shows.form.youtube-link"}}
              @fieldName="youtubeLink"
              @containerClass='mb-2'
            />
            <label for="archive-status">Archive Status</label>
            <select
              id="archive-status"
              {{on "change" (pick "target.value" (set changeset "status"))}}
            >
              {{#each-in this.statusOptions as |key val|}}
                <option
                  value="{{val}}"
                  selected={{eq changeset.status val}}
                  >
                  {{key}}
                </option>
              {{/each-in}}
            </select>
          {{else}}
            <h2
              class="text-x">
              PRERECORDED SET
            </h2>
            <TrackUploader @changeset={{changeset}} />
            {{#if changeset.prerecordTrackId}}
              {{changeset.prerecordTrackFilename}}
            {{/if}}
          {{/if}}
        </div>
      </section>
      <div>
        <Button
          @type='submit'
          @intent='primary'
          disabled={{(or Form.state.hasSubmitted changeset.isInvalid)}}
          class='cool-button mb-2'
          >
          UPDATE EPISODE
        </Button>
      </div>
  </Ui::ChangesetForm>
{{/let}}