<div class="mb-2">
  <LinkTo
    @route="home.shows.episode"
    @models={{array @episode.showSeries.slug @episode.slug}}
    class="text-2xl">
    {{@episode.title}}
  </LinkTo>
  <div class="self-center w-full h-full">
    <LinkTo
      @route="home.shows.episode"
      @models={{array @episode.showSeries.slug @episode.slug}}
      class="h-80 bg-center bg-cover block overflow-hidden rounded-xl"
      style="{{this.backgroundStyle}}">
    </LinkTo>
  </div>
  <LinkTo
    @route="home.user.my-shows.episode"
    @models={{array @episode.showSeries.slug @episode.slug}}
    class="text-2xl">
    {{t "profile.my-shows.edit"}}
  </LinkTo>
</div>