<div class="mb-2">
  <LinkTo
    @route="home.shows.episode"
    @models={{array @episode.showSeriesSlug @episode.slug}}
    class="text-2xl">
    {{@episode.title}}
  </LinkTo>
  <div>
    <span>{{t "episode.date"}}</span> {{format-day @episode.start}}
  </div>
  <div class="self-center w-full h-full mb-2">
    <LinkTo
      @route="home.shows.episode"
      @models={{array @episode.showSeriesSlug @episode.slug}}
      class="h-80 bg-center bg-cover block overflow-hidden rounded-xl"
      style="{{this.backgroundStyle}}">
    </LinkTo>
  </div>
  <div class="my-2">
    <div>
      <span>{{t "episode.status"}}</span> {{@episode.status}}
    </div>
  </div>
  <div class="my-2">
    <LinkTo
      @route="home.user.my-shows.episode"
      @models={{array @episode.showSeriesSlug @episode.slug}}
      class="text-2xl cool-button">
      {{t "profile.my-shows.edit"}}
    </LinkTo>
  </div>
</div>