<HeadlessForm
  @data={{@episode}}
  @onError={{this.onError}}
  @onSubmit={{this.onSubmit}}
  @validate={{validate-yup this.schema}}
  class="page-spacing"
  as |form|
>
  <section class="my-2">

    {{! header and time stamp}}
    <div class="flex justify-start italic text-sm my-1">
      <span>{{t "profile.my-shows.form.air-date"}}</span>
      <span>
        {{format-day @episode.start}}
        -
        {{format-time @episode.start}}
      </span>
    </div>

    {{! title, description, and tag input }}
    <div>
      <form.Field @name='title' as |field|>
        <field.Label>{{t "profile.my-shows.form.title"}}</field.Label>
        <field.Input class='border rounded-px-2' />
        <field.Errors />
      </form.Field>
      <form.Field @name='description' as |field|>
        <field.Label>{{t "profile.my-shows.form.description"}}</field.Label>
        <field.Textarea class='border rounded px-2' />
        <field.Errors />
      </form.Field>
      <form.Field @name='labels' as |field|>
        <LabelsSelect
          class="my-2 flex justify-start gap-4"
          @value={{field.value}}
          @onChange={{field.setvalue}}
          @changeset={{changeset}}
        />
      </form.Field>
    </div>

    {{! episode artwork uploader }}
    <div class="flex justify-start gap-10 mb-4 relative">
      <label class="align-top" for="show-artwork">
        {{t "profile.my-shows.form.artwork"}}
      </label>

      <div class="">
        {{#if this.imagePreviewSrc}}
          <div class="mb-2">
            <img alt="artwork" width="300" height="300"
              src="{{this.imagePreviewSrc}}" />
          </div>
        {{/if}}
        <form.Input @name="image" as |input|>
          <input
            class="text-df-yellow semibold border-dashed"
            id="showArtwork"
            name="showArtwork"
            type="file"
            accept="image/*"
            {{on "change" (fn this.updateFile input)}}
          />
        </form.Input>
      </div>
    </div>

    {{! check if this is an archive  }}
    {{#if @episode.airDatePassed}}
      <div>
        <div class="my-2 flex justify-start gap-4">
          <form.Field @name='status' as |field>
            <field.Label>{{t "profile.my-shows.form.archive-status"}}</field.Label>
            <field.Select as |select| >
              {{#each-in this.statusOptions as |key val|}}
                <select.Option @value="{{val}}">
                  {{key}}
                </select.Option>
              {{/each-in}}
            </field.Selet
          </form.Field>
        </div>

        <MyShows::RecordingSelector @changeset={{changeset}} />
        <div class="my-2 py-2">
          <Form.Input
            @label={{t "profile.my-shows.form.youtube-link"}}
            @fieldName="youtubeLink"
            @containerClass="mb-2"
          />
          <Form.Input
            @label={{t "profile.my-shows.form.mixcloud-link"}}
            @fieldName="mixcloudLink"
            @containerClass="mb-2"
          />
          <Form.Input
            @label={{t "profile.my-shows.form.soundcloud-link"}}
            @fieldName="soundcloudLink"
            @containerClass="mb-2"
          />
        </div>
      </div>
    {{else}}
      {{! airdate has *not* passed; its an upcoming show }}
      <div>
        <div class="flex justify-start gap-4 my-4">
          <label>{{t "profile.my-shows.form.time-len"}}</label>
          <TimePicker
            @label="Start time"
            @property="start"
            @changeset={{changeset}}
            @onChange={{this.setEndAfterStart}}
          />
          <TimePicker
            @label="Duration"
            @property="end"
            @changeset={{changeset}}
            @startTime={{changeset.start}}
          />
        </div>
      </div>
      {{! track upload or pick playlist, or search previously uploaded tracks }}
      <fieldset>
        <legend>Upload track</legend>
        <label>
          <input
            type="radio"
            name="playlist-option"
            value="upload"
            checked={{eq this.trackOption "upload"}}
            {{on "change" (fn this.selectTrackOption "upload")}}
            class="form-radio text-df-yellow"
          />
          <span class="my-1 text-sm">
            {{t "profile.my-shows.form.upload-new"}}
          </span>
        </label>
        <label>
          <input
            type="radio"
            name="playlist-option"
            value="track"
            checked={{eq this.trackOption "track"}}
            {{on "change" (fn this.selectTrackOption "track")}}
            class="form-radio text-df-yellow"
          />
          <span class="my-1 text-sm">
            {{t "profile.my-shows.form.previous_track"}}
          </span>
        </label>
      </fieldset>

      {{#if (eq this.trackOption 'upload')}}
        <div class="flex justify-start gap-10 mb-4 relative">
          <div class="flex justify-end gap-2">
            <TrackUploader
              @changeset={{changeset}}
              @onStartUpload={{this.onStartUpload}}
              @onFinishUpload={{this.onFinishUpload}}
            />
          </div>
        </div>
      {{else}}
        <MyShows::TrackSelector @changeset={{changeset}} />
      {{/if}}

      {{#if changeset.prerecordTrackId}}
        <div class="font-bold">
          {{changeset.prerecordTrackFilename}}
        </div>
      {{/if}}
    {{/if}}
  </section>

  <div class="mb-4">
    <Button
      @type="submit"
      @intent="primary"
      disabled={{(or
        (eq this.isUploading true)
        (or Form.state.hasSubmitted changeset.isInvalid)
      )}}
      class="cool-button mb-2"
    >
      {{t "profile.my-shows.form.update"}}
    </Button>
  </div>
  {{#if
    (or
      (eq this.currentUser.user.username @episode.hostedBy)
      (includes "admin" this.currentUser.user.roles)
    )
  }}
    <div>
      <Button
        @type="submit"
        @intent="danger"
        class="cool-button mb-2 danger"
        {{on "click" this.deleteEpisode}}
      >
        {{t "profile.my-shows.form.delete"}}
      </Button>
    </div>
  {{/if}}
</HeadlessForm>