{{#let (changeset @episode this.EpisodeValidations) as |changeset|}}
  <Ui::ChangesetForm
    @containerClass="page-spacing"
    @changeset={{changeset}}
    @onError={{this.onError}}
    @onSubmit={{this.onSubmit}}
    as |Form|
  >
    <div class="flex flex-col md:flex-row md:gap-2">

      <section class="my-2">
        {{! episode artwork uploader }}
        <div class="flex flex-col">
          <label class="align-top" for="show-artwork">
            {{t "profile.my-shows.form.artwork"}}
          </label>

          <div class="">
            {{#if this.imagePreviewSrc}}
              <div class="mb-2">
                <img
                  alt="artwork"
                  width="300"
                  height="300"
                  src="{{this.imagePreviewSrc}}"
                />
              </div>
            {{/if}}
            <input
              class="text-df-yellow semibold border-dashed"
              id="showArtwork"
              name="showArtwork"
              type="file"
              accept="image/*"
              {{on "change" this.updateFile}}
            />
          </div>
        </div>
      </section>
      <section class="my-2">
        {{! header and time stamp}}
        <div class="flex justify-start italic text-sm my-1">
          <span>{{t "profile.my-shows.form.air-date"}}</span>
          <span>
            {{format-day @episode.start}}
            -
            {{format-time @episode.start}}
          </span>
        </div>

        {{! title, description, and tag input }}
        <div>
          <Form.Input
            @label={{t "profile.my-shows.form.title"}}
            @fieldName="title"
            @containerClass="flex flex-col"
          />
          <Form.Textarea
            @label={{t "profile.my-shows.form.description"}}
            @fieldName="description"
            @containerClass="flex flex-col"
            @size="lg"
            @value={{changeset.description}}
            rows="5"
            cols="35"
          />
          <LabelsSelect class="flex flex-col" @changeset={{changeset}} />
        </div>

        {{! check if this is an archive  }}
        {{#if @episode.airDatePassed}}
          <div>
            <div class="flex flex-col">
              <label for="archive-status">
                {{t "profile.my-shows.form.archive-status"}}
              </label>
              <select
                id="archive-status"
                name="archive-status"
                {{on "change" (pick "target.value" (set changeset "status"))}}
              >
                {{#each-in this.statusOptions as |key val|}}
                  <option value="{{val}}" selected={{eq changeset.status val}}>
                    {{key}}
                  </option>
                {{/each-in}}
              </select>
            </div>
            <MyShows::RecordingSelector @changeset={{changeset}} />
            <div class="my-2 py-2">
              <Form.Input
                @label={{t "profile.my-shows.form.youtube-link"}}
                @fieldName="youtubeLink"
                @containerClass="flex flex-col"
              />
              <Form.Input
                @label={{t "profile.my-shows.form.mixcloud-link"}}
                @fieldName="mixcloudLink"
                @containerClass="flex flex-col"
              />
              <Form.Input
                @label={{t "profile.my-shows.form.soundcloud-link"}}
                @fieldName="soundcloudLink"
                @containerClass="flex flex-col"
              />
            </div>
          </div>
        {{else}}
          {{! airdate has *not* passed; its an upcoming show }}
          <div>
            <div class="flex justify-start gap-4 my-4">
              <label>{{t "profile.my-shows.form.time-len"}}</label>
              <TimePicker
                @label="Start time"
                @property="start"
                @changeset={{changeset}}
                @onChange={{this.setEndAfterStart}}
              />
              <TimePicker
                @label="Duration"
                @property="end"
                @changeset={{changeset}}
                @startTime={{changeset.start}}
              />
            </div>
          </div>
          {{! track upload or pick playlist, or search previously uploaded tracks }}
          <fieldset>
            <legend>Upload track</legend>
            <label>
              <input
                type="radio"
                name="playlist-option"
                value="upload"
                checked={{eq this.trackOption "upload"}}
                {{on "change" (fn this.selectTrackOption "upload")}}
                class="form-radio text-df-yellow"
              />
              <span class="my-1 text-sm">
                {{t "profile.my-shows.form.upload-new"}}
              </span>
            </label>
            <label>
              <input
                type="radio"
                name="playlist-option"
                value="track"
                checked={{eq this.trackOption "track"}}
                {{on "change" (fn this.selectTrackOption "track")}}
                class="form-radio text-df-yellow"
              />
              <span class="my-1 text-sm">
                {{t "profile.my-shows.form.previous_track"}}
              </span>
            </label>
          </fieldset>

          {{#if (eq this.trackOption "upload")}}
            <div class="flex justify-start gap-10 mb-4 relative">
              <div class="flex justify-end gap-2">
                <TrackUploader
                  @changeset={{changeset}}
                  @onStartUpload={{this.onStartUpload}}
                  @onFinishUpload={{this.onFinishUpload}}
                />
              </div>
            </div>
          {{else}}
            <MyShows::TrackSelector @changeset={{changeset}} />
          {{/if}}

          {{#if changeset.prerecordTrackId}}
            <div class="font-bold">
              {{changeset.prerecordTrackFilename}}
            </div>
          {{/if}}
        {{/if}}
      </section>
    </div>
    <div class="mb-4">
      <Button
        @type="submit"
        @intent="primary"
        disabled={{(or
          (eq this.isUploading true)
          (or Form.state.hasSubmitted changeset.isInvalid)
        )}}
        class="cool-button mb-2"
      >
        {{t "profile.my-shows.form.update"}}
      </Button>
    </div>
    {{#if
      (or
        (eq this.currentUser.user.username @episode.hostedBy)
        (includes "admin" this.currentUser.user.roles)
      )
    }}
      <div>
        <Button
          @type="submit"
          @intent="danger"
          class="cool-button mb-2 danger"
          {{on "click" this.deleteEpisode}}
        >
          {{t "profile.my-shows.form.delete"}}
        </Button>
      </div>
    {{/if}}
  </Ui::ChangesetForm>
{{/let}}