<Await
  @promise={{this.loadDatafruits}}
  @onResolve={{this.setDatafruits}}
  as |await|>
  <await.Pending>
    {{t "microtext.loading"}}
  </await.Pending>

  <await.Fulfilled as |datafruits|>
    {{#if this.showingDatafruits}}
      <marquee id="add-datafruit-bar" class="text-sm sm:text-xl">
        [<img style="height: 20px; display: inline;" src="{{this.currentDatafruit.avatarUrlOrDefault}}" alt={{this.currentDatafruit.username}} / >
        <LinkTo @model={{this.currentDatafruit.username}} @route="home.dj">
          {{this.currentDatafruit.username}}
        </LinkTo>]
        :
        <span>
          {{this.currentDatafruit.content}}
        </span>
        <span class="italic text-xs sm:text-sm">
          {{this.currentTimestamp}}
        </span>
      </marquee>
      {{#if this.session.isAuthenticated}}
        <button {{action "addDatafruit"}} type="button" class="cool-button">{{t "microtext.add"}}</button>
      {{/if}}
    {{else}}
      <div>
        {{t "microtext.we_need_it"}}
      </div>
      <form {{on "submit" this.submit}}>
        <Input @value={{this.datafruit.content}} placeholder="your datafruit" />
        <input
          type="submit"
          value="{{t "microtext.submit"}}" class="cool-button" disabled={{isSubmittable}}>
      </form>
    {{/if}}
  </await.Fulfilled>

  <await.Rejected>
    Something went wrong :(
  </await.Rejected>
</Await>
