<li
  {{did-insert this.setScrolling}}
  class="message">
  <span class="mr-2">
    {{format-message-timestamp @message.timestamp}}
  </span>

  {{#if this.canShowAvatar}}
    {{#if @message.avatarUrl}}
      <span class="mr-2" data-test-avatar>
        <img
          class="inline rounded-md"
          style="height: 20px;"
          src="{{@message.avatarUrl}}"
          alt={{@message.user}} / >
      </span>
    {{else}}
      <span class="mr-2" data-test-avatar>
        <img
          class="inline rounded-md"
          style="height: 20px;"
          src="/assets/images/show_placeholder.jpg"
          alt={{@message.user}} / >
      </span>
    {{/if}}
  {{/if}}

  <span class="{{if this.fromDiscord "" "mr-2"}}" data-test-username>
    <Chat::Username
      @dontShowPopup={{true}}
      @role={{@message.role}}
      @style={{@message.style}}
      @pronouns={{@message.pronouns}}
      @username={{if this.fromDiscord this.discordUser @message.user}}
      @avatarUrl={{@message.avatarUrl}}
      />
  </span>

  {{#if this.fromDiscord}}
    <a class="mr-2"
      href="https://discord.gg/83mteTQDvu"
      title={{t "chat.discord"}}
      aria-label={{t "discord.aria"}}
      target="_blank" rel="noopener noreferrer"
    >
      <FaIcon @icon="discord" @prefix="fab" />
    </a>
  {{/if}}

  {{#if @message.treasure}}
    <button
      class="cool-button futsu-treasure-chest"
      {{on "click" this.grabTreasure}}
      disabled={{this.cantOpenTreasure}}
    >
      <img src="/assets/images/emojis/futsu.png" />
    </button>
  {{/if}}

  {{#unless (this.hasImageData)}}
    <span class={{if @message.hasMention "bg-df-green-dark"}} data-test-message-body>
      {{format-message-body (if this.fromDiscord this.discordMsg this.messageText)}}
    </span>
  {{/unless}}

</li>
{{#if @gifsEnabled}}
  {{#if this.hasImageData}}
    <li class="message">
      <span class="">
        <ChatLazyImage
          @url={{this.imgUrl}}
          @adjustScrolling={{@adjustScrolling}}
        />
      </span>
    </li>
  {{/if}}
{{/if}}