<div
  id="now-playing-bar"
  class="flex-col flex justify-center classic:bg-df-pink blm:bg-black trans:bg-df-blue text-xl py-2 text-white leading-none
        {{ if this.playingPodcast "playing-podcast" "" }}
        {{ if this.isLive "is-live" "" }}
        {{ if this.playButtonHover "bleed" "" }}
         "
  {{did-insert this.didInsert}}
  >
  <audio preload="" id="radio-player" class="hidden">
    <source
      src="https://streampusher-relay.club/datafruits.mp3"
      type="audio/mp3"
    >
    <source
      src="https://streampusher-relay.club/datafruits.ogg"
      type="audio/ogg"
    >
  </audio>
  <div class="radio-container flex flex-row justify-between items-center text-3xl text-shadow">
    <div class="player-controls mx-2 flex space-x-2">
      {{#if this.playingPodcast}}
        <a
          aria-label={{t "player.aria.return_to_live"}}
          href="javascript:;"
          role="button"
          {{on "click" this.playLiveStream}}
        >
          <Ui::Icon @name="chevron-left" alt={{t 'return_to_live'}} />
        </a>
      {{/if}}
      {{#if this.loading}}
        <div id="loading-stream"
          name="loading-stream"
          class="player-loading">
        </div>
      {{else if this.playing}}
        <a id="pause-stream"
          name="pause-stream"
          role="button"
          aria-label={{t "player.aria.stop"}}
          {{on "click" this.pause}}
          class="jp-pause"
          tabindex="0"
        >
          {{t (if this.playingPodcast "player.pause" "player.stop")}}
        </a>
      {{else if this.paused}}
        <a id="play-stream"
          name="play-stream"
          class="jp-play"
          href="#"
          tabindex="0"
          role="button"
          aria-label={{t "player.aria.play"}}
          title={{t "player.aria.play"}}
          {{on "click" this.play}}
          {{on "mouseenter" this.playButtonMouseEnter}}
          {{on "mouseleave" this.playButtonMouseOut}}
        >
          {{t "player.play"}}
        </a>
      {{/if}}
      <span
        id="volume-control"
        name="volume-control"
        role="button"
        class="jp-volume-controls"
        aria-label={{t "player.aria.volume"}}
        {{on "mouseenter" this.showVolumeControl}}
        {{on "mouseleave" this.hideVolumeControl}}
      >
        {{#if this.muted}}
          {{!-- template-lint-disable no-nested-interactive --}}
          <a
            class="jp-unmute"
            tabindex="0"
            role="button"
            title={{t "player.aria.unmute"}}
            aria-label={{t "player.aria.unmute"}}
            {{on 'click' this.unmute}}
          >
            <Ui::Icon @name="volume-off" />
          </a>
        {{else}}
          <a
            class="jp-mute"
            tabindex="0"
            role="button"
            title={{t "player.aria.mute"}}
            aria-label={{t "player.aria.mute"}}
            {{on "click" this.mute}}
          >
            <Ui::Icon @name="volume-up" />
          </a>
        {{/if}}
        {{#if this.showingVolumeControl}}
          <input
            class="volume-control"
            type="range"
            min="0"
            max="1"
            step="0.01"
            aria-label={{t "player.aria.volume"}}
            {{on "input" this.volumeChanged}}
            value={{this.volume}}
          >
          <span class="hidden md:inline-block">{{this.volumeString}}</span>
        {{/if}}
      </span>
    </div>
    <div class="now-playing flex-grow overflow-hidden text-base sm:text-3xl sm:whitespace-nowrap">
      {{#if this.error}}
        <span>
          {{this.error}}
        </span>
      {{else}}
        {{#if this.currentShowPresent}}
          <LinkTo
            @route="home.shows.episode"
            @models={{array this.showSeriesId this.episodeId}}
            title={{this.title}}>
            {{this.title}}
          </LinkTo>
        {{else}}
          <span class="jp-title">
            {{this.title}}
          </span>
        {{/if}}
      {{/if}}
    </div>
    {{#if (and this.playingPodcast)}}
      <span class="mx-2 text-base leading-4">
        {{this.formattedPlayTime}}
      </span>
    {{/if}}
    <div class="flex mr-1 items-center">
      {{yield}}
    </div>
  </div>
  {{#if this.playingPodcast}}
    <div class="seek">
      <div class="seek-bar-wrapper">
        <input
          class="seek-bar m-0 sm:mt-4 sm:mb-4"
          type="range"
          step="any"
          {{on "input" this.seek}}
          value={{this.playTimePercentage}}
        >
      </div>
    </div>
  {{/if}}
</div>