<div
  {{did-insert this.didInsert}}
  {{did-update this.initIfActive this.videoStream.active}}
  class="visuals">
  {{#if this.videoStream.active}}
    <Visuals::Video @styleProperties={{this.styleProperties}} @draggable={{this.draggable}} />
    {{this.draggable}}
  {{/if}}
</div>
