<div
    class="flex flex-col flex-grow min-h-0 flex-basis-0 overflow-hidden md:px-8 mt-5"
    >
  {{#if @isAuthenticating}}
    {{t "chat.logging_you_in"}}
  {{else if this.chat.loading}}
    {{t "chat.loading"}}
  {{else}}
    <div class="md:hidden {{if this.showingUserList "h-32"}} flex flex-shrink pl-4 border-2 border-df-yellow overflow-y-scroll">
      <button {{action "toggleUserList"}}
        type="button"
        class="cool-button"
        title="TOGGLE"
        data-test-userlist-button
      >
        {{if this.showingUserList "HIDE" "SHOW"}}
      </button>
      <ul id="userlist" class={{if this.showingUserList "h-1/5 block" "h-0 hidden"}}>
        {{#each-in this.chat.presences as |username user|}}
          <UserListItem @user={{user}} />
        {{/each-in}}
      </ul>
    </div>
    <div id="chat-area"
      class="text-df-yellow font-bold flex flex-row flex-grow min-h-0 relative text-shadow mb-5 flex-basis-0"
      {{did-insert this.didInsert}}
      >
      <ChatMessages
        @messages={{this.chat.messages}}
        @gifsEnabled={{this.chat.gifsEnabled}}
        @newMessagesAvailable={{this.newMessagesAvailable}}
        @onScroll={{this.onScroll}}
      />
      {{#if this.newMessagesBelow}}
        <div class="text-white bg-df-green bg-opacity-75 absolute bottom-0 left-0 w-full">
          <span>{{t "chat.new_messages"}}</span>
        </div>
      {{/if}}
      {{#if @networkStatus.isOffline}}
        <div id="offline">
          <span>{{t "chat.offline"}}</span>
        </div>
      {{/if}}
      <ul id="userlist" class="overflow-y-scroll flex-grow hidden md:block md:w-1/5 pl-4">
        {{#each-in this.chat.presences as |username user|}}
          <UserListItem @user={{user}} />
        {{/each-in}}
      </ul>
    </div>
    <div class="flex flex-col justify-center items-center w-full">
      {{#if this.chat.joinedChat}}
        <form align="center" class="mb-3 w-full">
          <Chat::InputMessage  @isOffline={{@networkStatus.isOffline}} />
          <Chat::EnableGifsButton @toggleGifs={{this.toggleGifsEnabled}} @enabled={{this.chat.gifsEnabled}} />
        </form>
      {{else}}
      <form align="center" class="mb-3" {{on "submit" this.enterChatAnonymously}}>
          <div>
            <div>
              <label for="nick">{{t "chat.label.nick"}}</label>
              <Input
                @type="text"
                @value={{this.nick}}
                autocorrect="off"
                autocapitalize="none"
                class="max-h-full"
                placeholder={{t "chat.nickname"}}
              />
              <input
                data-test-join-chat
                class="cool-button"
                type="submit"
                disabled={{this.disableJoinButton}}
                title={{t "chat.titles.enter"}}
                value={{t "chat.join_anonymously"}}
              >
              <Chat::EnableGifsButton @toggleGifs={{this.toggleGifsEnabled}} @enabled={{this.chat.gifsEnabled}} />
            </div>
            <div>
              <label class="text-xs" for="agree-to-coc">
                {{t "chat.coc_label"}}
              </label>
              <a class="text-sm" href="/coc"><abbr title={{t "code_of_conduct"}}>{{t "chat.label.coc"}}</abbr></a>
            </div>
          </div>
          <div class="flex justify-center">
            <button {{action "toggleLoginModal"}}
                 type="button"
                 class="cool-button"
                 title={{t "chat.titles.login"}}
                 data-test-login-button
                 >
                 {{t "chat.login"}}
            </button>
          </div>
        </form>
      {{/if}}
    </div>
    {{#if this.showingLoginModal}}
      <LoginModal
        @login={{action "enterChat"}}
        @toggleModal={{action "toggleLoginModal"}}
      />
    {{/if}}
  {{/if}}
</div>
