<a {{on "click" this.toggleDjDonateModal}} ...attributes class="donate-button text-shadow">
  {{t "donate.title"}}
</a>
{{#if this.showingDjDonateModal}}
  <Ui::Modal
      @toggleModal={{this.toggleDjDonateModal}}
    >
    <div class="modal-body m-1 font-bold">
      <p>
        {{t "about_page.listenersupport"}}
      </p>
      <a href="https://patreon.com/datafruits" target="_blank" rel="noopener noreferrer" aria-label="Patreon">
        <img src="/assets/images/patreon.png" alt="patreon" class="md:w-72">
      </a>
      {{t "donate.dj_link"}}
      <a href={{this.qualifiedDonationLink}} target="_blank" rel="noopener noreferrer"> {{this.donationLink}} </a>
      <br />
      <p>
        {{t "about_page.donate_request"}}
      </p>
      <a href="https://paypal.me/datafruitsfm" target="_blank" rel="noopener noreferrer" aria-label={{t "about_page.donate_aria"}}>
        {{t "about_page.donate_linktext"}}
      </a>
    </div>
  </Ui::Modal>
{{/if}}