<a {{on "click" this.toggleDjDonateModal}} ...attributes class="donate-button text-shadow">
  {{t "donate.title"}}
</a>

{{#if this.showingDjDonateModal}}
  <ModalDialog
    translucentOverlay={{true}}
    >
    <div class="modal-top">
      <button {{on "click" this.toggleDjDonateModal}}
        type="button"
        class="cool-button"
        >
        X
      </button>
    </div>

    <div class="modal-body m-1">
      <p>
        {{t "about_page.listenersupport"}}
      </p>
      <a href="https://www.ampled.com/artist/datafruits" target="_blank" rel="noopener noreferrer" aria-label="Ampled">
        <img src="/assets/images/ampled.svg" aria-hidden="true" class="md:w-72">
      </a>
      {{t "donate.dj_link"}}
      <a href={{donationLink}} target="_blank" rel="noopener noreferrer"> {{donationLink}} </a>
      <br />
      <p>
        {{t "about_page.donate_request"}}
      </p>
      <a href="https://paypal.me/datafruitsfm" target="_blank" rel="noopener noreferrer" aria-label={{t "about_page.donate_aria"}}>
        {{t "about_page.donate_linktext"}}
      </a>
    </div>
  </ModalDialog>
{{/if}}
