<section
  ...attributes
  >
  <h4 class="block text-sm font-bold mb-2">Tags</h4>
  {{#if this.error}}
    <div class="error">
        {{this.error}}
    </div>
  {{/if}}
  <PowerSelectMultipleWithCreate
    @options={{this.labels}}
    @selected={{@changeset.labels}}
    @searchEnabled={{true}}
    @search={{this.searchLabels}}
    @renderInPlace={{true}}
    @onChange={{this.setSelectedLabels}}
    @onCreate={{this.createTag}}
    @showCreateWhen={{this.hideCreateOptionOnSameName}} as |label|>
    {{label.name}}
  </PowerSelectMultipleWithCreate>
</section>