<label id="locale-selector-label"
  for="locale-selector"
>
  {{t "locale"}}
</label>
<select
    id="locale-selector"
    name="locale-selector"
    class="bg-df-pink"
    aria-label="{{ t "locale"}}"
    {{on "change" @setLocale}}>
  {{#each this.locales as |localeChoice|}}
    {{#if (eq localeChoice.value @selectedLocale)}}
      <option
        selected
        value={{localeChoice.value}}
      >
        {{localeChoice.text}}
      </option>
    {{else}}
      <option value={{localeChoice.value}}>
        {{localeChoice.text}}
      </option>
    {{/if}}
  {{/each}}
</select>
