<ModalDialog
  translucentOverlay={{true}}
  >
  <div class="modal-top">
    <button {{on "click" (fn @toggleModal)}}
      type="button"
      class="cool-button"
      >
      X
    </button>
  </div>
  <div class="modal-body m-1">
    <form {{on "submit" (fn this.submit)}}>
      <p class="mt-2 mb-2">
        {{t "chat.login_why"}}
      </p>
      <div>
        <Input
          @type="text"
          name="username"
          @value={{this.username}}
          autocorrect="off"
          autocapitalize="none"
          placeholder={{t "chat.username"}}
          data-test-username
        />
        <Input
          @type="password"
          name="pass"
          @value={{this.pass}}
          autocorrect="off"
          autocapitalize="none"
          placeholder={{t "chat.password"}}
          data-test-password
        />
      </div>
      <div>
        <button
          type="submit"
          class="cool-button mt-2"
          data-test-login-submit
          disabled={{this.disableJoinButton}}
        >
          {{t "chat.login"}}
        </button>
      </div>

      <div class="flex items-center justify-between mt-3">
        <LinkTo
          @route="home.password-reset"
          @invokeAction={{@toggleModal}}
          >
          {{t "chat.forgot_password"}}
        </LinkTo>
        <div class="relative">
          <img
              class="absolute"
              style="top: -15px; left: -30px;"
              src="/assets/images/new.gif"
              alt="{{ t "new" }}" />
          <LinkTo
            @route="home.sign-up"
            @invokeAction={{@toggleModal}}
            >
            {{t "chat.sign_up"}}
          </LinkTo>
        </div>
      </div>
    </form>
  </div>
</ModalDialog>
