{{#if (gt @meta.page 1)}}
  <span class="pagination">
    <LinkTo
      @route={{@route}}
      @query={{hash page=(dec @meta.page)}}
    >
      {{t "podcasts.pagination_prev"}}
    </LinkTo>
  </span>
{{/if}}
{{#each (range 1 (inc @meta.total_pages)) as |number|}}
  {{#if (eq number @meta.page)}}
    {{number}}
  {{else}}
    <span class="pagination">
      <LinkTo @route={{@route}} @query={{hash page=number}}>
        {{number}}
      </LinkTo>
    </span>
  {{/if}}
{{/each}}
{{#if (lt @meta.page @meta.total_pages)}}
  <span class="pagination">
    <LinkTo
      @route={{@route}}
      @query={{hash page=(inc @meta.page)}}
    >
      {{t "podcasts.pagination_next"}}
    </LinkTo>
  </span>
{{/if}}
