{{#if (gt @page 1)}}
  <span class="pagination">
    <LinkTo
      @route={{@route}}
      @query={{hash page=(dec @page)}}
    >
      {{t "pagination_prev"}}
    </LinkTo>
  </span>
{{/if}}
{{#each (range 1 (inc @totalPages)) as |number|}}
  {{#if (eq-number number @page)}}
    <span class="bg-df-pink">{{number}}</span>
  {{else}}
    <span class="pagination">
      <LinkTo @route={{@route}} @query={{hash page=number}}>
        {{number}}
      </LinkTo>
    </span>
  {{/if}}
{{/each}}
{{#if (lt @page @totalPages)}}
  <span class="pagination">
    <LinkTo
      @route={{@route}}
      @query={{hash page=(inc @page)}}
    >
      {{t "pagination_next"}}
    </LinkTo>
  </span>
{{/if}}
