<form {{on "submit" this.submit}}>
  <div>
    <label class="block text-sm font-bold mb-2" for="password">{{t "password_new.password"}}</label>
    <Input
      class="form-input focus:outline-none focus:shadow-outline"
      id="password"
      @type="password"
      @value={{this.password}}
      autofocus={{true}}
      autocorrect="off"
      autocapitalize="none"
      data-test-password
      />
  </div>
  <div>
    <label class="block text-sm font-bold mb-2" for="password-confirmation">{{t "password_new.password_confirmation"}}</label>
    <Input
      class="form-input focus:outline-none focus:shadow-outline"
      id="password-confirmation"
      @type="password"
      @value={{this.passwordConfirmation}}
      autofocus={{true}}
      autocorrect="off"
      autocapitalize="none"
      data-test-password-confirmation
      />
  </div>
  {{#each this.errors as |error|}}
    <div class="error">
      {{t error}}
    </div>
  {{/each}}
  <div class="flex items-center justify-between mt-2">
    <Input
      @type="submit"
      class="cool-button cursor-pointer"
      disabled={{this.cantSubmit}}
      data-test-submit-button
      @value={{t "password_new.submit"}} />
  </div>
</form>
