<form {{on "submit" this.submit}}>
  <div>
    <label class="block text-sm font-bold mb-2" for="password">{{t "password_new.password"}}</label>
    <Input
      class="form-input focus:outline-none focus:shadow-outline"
      @id="password"
      @type="text"
      @autofocus={{true}}
      @value={{this.password}}
      data-test-password
      />
  </div>
  <div>
    <label class="block text-sm font-bold mb-2" for="password-confirmation">{{t "password_new.password_confirmation"}}</label>
    <Input
      class="form-input focus:outline-none focus:shadow-outline"
      @id="password-confirmation"
      @type="text"
      @autofocus={{true}}
      @value={{this.passwordConfirmation}}
      data-test-password-confirmation
      />
  </div>
</form>
