<div
  {{did-insert this.fetchPodcasts @page}}
  {{did-update this.fetchPodcasts @page}}
>
  <Await
    @promise={{this.fetchPodcasts}} as |await|>
    <div id="podcast-search-controls">
      <div class="flex flex-wrap justify-around">
        <div id="search-controls">
          <h1>{{t "podcasts.search_title"}}</h1>
          <Podcasts::Search
            @labels={{@labels}}
            @selectedLabels={{this.selectedLabels}}
            @query={{this.router.currentRoute.queryParams.query}}
            @search={{await.reload}}
          />
        </div>
        <div id="subscribe-controls">
          <h1>{{t "podcasts.subscribe_title"}}</h1>
          <div id="podcast-subscribe">
            <div class="md:mx-10 md:my-5 md:py-5">
              <ul id="subscribe-links" class="pr-2 flex flex-wrap text-xl md:text-m">
                <li>
                  <a href="https://datafruits.streampusher.com/podcasts/datafruits.xml">
                    {{t "podcasts.links.rss"}}
                  </a>
                </li>
                <li>
                  <a href="itpc://datafruits.streampusher.com/podcasts/datafruits.xml">
                    {{t "podcasts.links.itunes"}}
                  </a>
                </li>
                <li>
                  <a href="overcast://datafruits.streampusher.com/podcasts/datafruits.xml">
                    {{t "podcasts.links.overcast"}}
                  </a>
                </li>
                <li>
                  <a href="podcast://datafruits.streampusher.com/podcasts/datafruits.xml">
                    {{t "podcasts.links.podcastsapp"}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div id="podcast-search-results">
        <await.Pending>
          <p id="podcast-search-loading" class="">
            {{t "loading"}}
          </p>
        </await.Pending>
        <await.Fulfilled as |result|>
          <FruitsUi::Pagination
            @totalPages={{result.meta.total_pages}}
            @page={{@page}}
            @route="home.podcasts" />
          {{#each result.tracks as |track|}}
            <PodcastTrack
              @track={{track}}
              @selectedLabels={{this.selectedLabels}}
              @search={{await.reload}} />
          {{else}}
            {{t "podcasts.no_result"}}
          {{/each}}
          <FruitsUi::Pagination
            @totalPages={{result.meta.total_pages}}
            @page={{@page}}
            @route="home.podcasts" />
          </await.Fulfilled>

        <await.Rejected>
          {{t "error"}}{{format-message-body ":sorrymustabeentheonionsaladdressing:"}}
        </await.Rejected>
      </div>
    </div>
  </Await>
</div>
