<div
  {{did-insert this.fetchInitial @page}}
  {{did-update this.fetchInitial @page}}
>
  <Await
    @promise={{this.fetchPodcasts}}
    @initialData={{this.initialData}}
      as |await|>
    <div id="podcast-search-controls">
      <div class="flex flex-wrap justify-around">
        <div id="search-controls">
          <h1 class="text-center">{{t "podcasts.search_title"}}</h1>
          <Podcasts::Search
            @labels={{@labels}}
            @selectedLabels={{this.selectedLabels}}
            @query={{this.router.currentRoute.queryParams.query}}
            @search={{await.reload}}
          />
        </div>
        <div id="subscribe-controls">
          <h1 class="text-center">{{t "podcasts.subscribe_title"}}</h1>
          <div id="podcast-subscribe">
            <div class="md:mx-10 md:my-5 md:py-5">
              <ul id="subscribe-links" class="pr-2 flex flex-wrap text-base sm:text-xl">
                <li>
                  <a href="https://datafruits.streampusher.com/podcasts/datafruits.xml">
                    {{t "podcasts.links.rss"}}
                  </a>
                </li>
                <li>
                  <a href="itpc://datafruits.streampusher.com/podcasts/datafruits.xml">
                    {{t "podcasts.links.itunes"}}
                  </a>
                </li>
                <li>
                  <a href="overcast://datafruits.streampusher.com/podcasts/datafruits.xml">
                    {{t "podcasts.links.overcast"}}
                  </a>
                </li>
                <li>
                  <a href="podcast://datafruits.streampusher.com/podcasts/datafruits.xml">
                    {{t "podcasts.links.podcastsapp"}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div id="podcast-search-results">
        <await.Pending>
          <p id="podcast-search-loading" class="">
            {{t "loading"}}
          </p>
        </await.Pending>
        <await.Fulfilled as |result|>
          <span
              {{on "click" await.reload}}
            >
          <FruitsUi::Pagination
            @totalPages={{result.meta.total_pages}}
            @page={{@page}}
            @route="home.podcasts" />
          </span>
          <div class="p-2">
            {{#each result as |show|}}
              {{#if show.tracks.firstObject}}
                <PodcastTrack
                  @track={{show.tracks.firstObject}}
                  @show={{show}}
                  @selectedLabels={{this.selectedLabels}}
                  @search={{await.reload}} />
              {{/if}}
            {{else}}
              {{t "podcasts.no_result"}}
            {{/each}}
          </div>
          <FruitsUi::Pagination
            @totalPages={{result.meta.total_pages}}
            @page={{@page}}
            @route="home.podcasts" />
        </await.Fulfilled>

        <await.Rejected>
          {{t "error"}}{{format-message-body ":sorrymustabeentheonionsaladdressing:"}}
        </await.Rejected>
      </div>
    </div>
  </Await>
</div>