<div class="py-1 flex flex-wrap space-x-1 items-center">
  {{#if this.playing}}
    <a class="text-df-green hover:text-df-yellow text-xl" {{action "pause"}} href="#">
      {{t "player.pause"}}
    </a>
  {{else}}
    <a class="text-df-green hover:text-df-yellow text-xl" {{action "play"}} href="#">
      {{t "player.play"}}
    </a>
  {{/if}}
  <a href={{@cdnUrl}} download="">
    <FaIcon
      @icon="download"
      class="fa fa-download text-df-green hover:text-df-yellow text-xl" />
  </a>
  {{#if this.session.isAuthenticated}}
    {{#if this.isFavorited}}
      <button
         class="cool-button favorited"
         type="button"
         aria-label="Remove From Favorites"
         title="Remove From Favorites"
        {{on "click" this.unfavoriteTrack}}
        >
        <FaIcon @icon="heart" />
      </button>
    {{else}}
      <button
         class="cool-button not-favorited"
         type="button"
         aria-label="Add To Favorites"
         title="Add To Favorites"
        {{on "click" this.favoriteTrack}}
        >
          <FaIcon @icon="heart" />
      </button>
    {{/if}}
  {{/if}}
  {{#if @scheduledShow}}
    <LinkTo @route="home.show" @model={{@scheduledShow.id}}>
      {{@title}}
    </LinkTo>
  {{else}}
    {{@title}}
  {{/if}}
  <div class="flex space-x-2">
    {{#each @labels as |label|}}
      <a
        class="track-label classic:bg-df-pink blm:bg-black text-df-yellow hover:text-white p-1 uppercase hover:italic border-solid border-white border-2 p-x-2 font-extrabold"
        {{on "click" (fn this.selectLabel label.name)}}
        href="#">
        {{label.name}}
      </a>
    {{/each}}
  </div>
</div>
