<div class="podcast py-1 flex space-x-1" >
  <div class="podcast-actions mt-1 text-xl flex space-x-1">
    {{#if this.playing}}
      <a class="text-df-green hover:text-df-yellow text-xxl" {{action "pause"}} href="#">
        {{t "player.pause"}}
      </a>
    {{else}}
      <a class="text-df-green hover:text-df-yellow text-xxl" {{action "play"}} href="#">
        {{t "player.play"}}
      </a>
    {{/if}}
    <a href={{@track.cdnUrl}} download="">
      <FaIcon
        @icon="download"
        class="fa fa-download text-df-green hover:text-df-yellow text-xxl"
      />
    </a>
    {{#if @track.youtubeLink}}
      <a href={{@track.youtubeLink}} target="_blank" rel="noreferrer noopener">
        <FaIcon
          @icon="youtube"
          @prefix="fab"
          class="text-df-green hover:text-df-yellow text-xxl"
        />
      </a>
    {{/if}}
  </div>
  {{#if this.session.isAuthenticated}}
    {{#if this.isFavorited}}
      <button
         class="cool-button favorited"
         type="button"
         aria-label="Remove From Favorites"
         title="Remove From Favorites"
        {{on "click" this.unfavoriteTrack}}
        >
        <FaIcon @icon="heart" />
      </button>
    {{else}}
      <button
         class="cool-button not-favorited"
         type="button"
         aria-label="Add To Favorites"
         title="Add To Favorites"
        {{on "click" this.favoriteTrack}}
        >
          <FaIcon @icon="heart" />
      </button>
    {{/if}}
  {{/if}}
  <div class="podcast-info mt-1 flex flex-wrap items-center">
    {{#if @track.scheduledShow}}
    <LinkTo @route="home.show" @model={{@track.scheduledShow}}>
      {{@track.title}}
    </LinkTo>
    {{else}}
    <span class="text-xl">
      {{@track.title}}
    </span>
    {{/if}}
    {{#each @track.labels as |label|}}
    <a class="track-label
                text-df-yellow
                classic:bg-df-pink
                blm:bg-black
                hover:text-white
                p-1
                uppercase
                border-solid
                border-white
                border-2
                p-x-2
                font-extrabold" {{on "click" (fn this.selectLabel label.name)}} href="#">
      {{label.name}}
    </a>
    {{/each}}
  </div>
</div>