<nav
  class="pb-3 relative flex justify-between w-full md:hidden items-center mt-3 mr-3 ml-3 "
  role="navigation">
  <div>
    <button
      type="button"
      class="collapsed text-xl"
      aria-label={{t "nav_toggle"}}
      {{on "click" @toggleMenu}}>
      <span class="sr-only">
        {{t "nav_toggle"}}
      </span>
      <FaIcon
        @icon="bars"
        aria-hidden="true" />
    </button>
    {{#if @menuOpen}}
      <ul class="flex flex-wrap">
        <li class="py-2 pr-3 text-white text-shadow-light w-full border-dashed border-white border-t-4">
          <span class="" href="#" aria-label={{t "radio.aria"}}>
            {{t "radio.title"}}
          </span>
          <ul class="">
            <li class="py-2 pr-3 w-full border-dashed border-white border-t-4">
              <LinkTo
                class="text-white text-shadow-light"
                aria-label={{t "djs.aria"}}
                @invokeAction={{@toggleMenu}}
                @route="home.djs">
                {{t "djs.title"}}
              </LinkTo>
            </li>
            <li class="py-2 pr-3 w-full border-dashed border-white border-t-4">
              <LinkTo
                class="text-white text-shadow-light"
                aria-label={{t "podcasts.aria"}}
                @invokeAction={{@toggleMenu}}
                @route="home.podcasts">
                {{t "podcasts.title"}}
              </LinkTo>
            </li>
            <li class="py-2 pr-3 w-full border-dashed border-white border-t-4">
              <LinkTo
                class="text-white text-shadow-light"
                aria-label={{t "timetable.aria"}}
                @invokeAction={{@toggleMenu}}
                @route="home.timetable">
                {{t "timetable.title"}}
              </LinkTo>
            </li>
            <li class="py-2 pr-3 w-full border-dashed border-white border-t-4">
              <LinkTo
                class="text-white text-shadow-light"
                aria-label={{t "djinquiry.aria"}}
                @invokeAction={{@toggleMenu}}
                @route="home.dj-inquiry">
                {{t "djinquiry.title"}}
              </LinkTo>
            </li>
            <li class="py-2 pr-3 w-full border-dashed border-white border-t-4">
              <LinkTo
                class="text-white text-shadow-light"
                aria-label={{t "wiki.aria"}}
                @invokeAction={{@toggleMenu}}
                @route="home.wiki">
                {{t "wiki.title"}}
              </LinkTo>
            </li>
          </ul>
        </li>
        <li class="py-2 pr-3 w-full border-dashed border-white border-t-4">
          <LinkTo
            class="text-white text-shadow-light"
            aria-label={{t "chat.label.aria"}}
            @invokeAction={{@toggleMenu}}
            @route="home.chat">
            {{t "chat.title"}}
          </LinkTo>
        </li>
        <li class="py-2 pr-3 w-full border-dashed border-white border-t-4">
          <a
            class="text-white text-shadow-light"
            aria-label={{t "releases.aria"}}
            href="http://releases.datafruits.fm/" target="_blank" rel="noreferrer noopener">
            {{t "label"}}
          </a>
        </li>
        <li class="py-2 pr-3 w-full border-dashed border-white border-t-4">
          <a
            class="text-white text-shadow-light"
            aria-label={{t "shop.title"}}
            href="https://datafruits.bandcamp.com/merch" target="_blank" rel="noopener noreferrer">
            {{t "shop.title"}}
          </a>
        </li>
        <li class="py-2 pr-3 w-full border-dashed border-white border-t-4">
          <LinkTo
            class="text-white text-shadow-light"
            aria-label={{t "about.aria"}}
            @invokeAction={{@toggleMenu}}
            @route="home.about">
            {{t "about.title"}}
          </LinkTo>
        </li>
        <li class="py-2 pr-3 w-full border-dashed border-white border-t-4">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://hubs.mozilla.com/MsvfAkH/terrific-satisfied-area"
            class="text-white text-shadow-light">
            <img
              width=75
              alt="{{t "3D.title"}}"
              src="/assets/images/3D.gif">
          </a>
        </li>
        <li class="py-2 pr-3 w-full border-dashed border-white border-t-4">
          <LinkTo
            class="text-white text-shadow-light"
            aria-label={{t "settings.title"}}
            @invokeAction={{@toggleMenu}}
            @route="home.site-settings">
            {{t "settings.title"}}
          </LinkTo>
        </li>
      </ul>
    {{/if}}
  </div>
  {{#if (not @menuOpen)}}

    <DjDonateModal class="block md ml-5" />

    <div class="">
      {{#if this.session.isAuthenticated}}
        <a href="#" class="" role="button" {{on "click" this.args.toggleUserMenu}}>
          <img
            class="inline rounded-lg"
            style="height: 3rem;"
            src="{{this.currentUser.user.avatarUrl}}"
            align="center"
            alt={{this.currentUser.user.username}} / >
        </a>
      {{else}}
        <LinkTo @route="home"
          @aria-label={{t "blog"}}>
          <img
            class=""
            id="circle-logo"
            src="/assets/images/logo.png"
            alt={{t "site_title"}}>
        </LinkTo>
      {{/if}}
    </div>
  {{/if}}
</nav>
