<label
  id="theme-selector-label"
  for="theme-selector"
>
  {{t "theme.label"}}
</label>
<select
  name="theme-selector"
  id="theme-selector"
  class="bg-df-pink"
  {{on "change" @setTheme}}>
>
{{#each this.themes as |theme|}}
  {{#if (eq theme.value this.currentTheme)}}
    <option selected value={{theme.value}}>
      {{theme.text}}
    </option>
  {{else}}
    <option value={{theme.value}}>
      {{theme.text}}
    </option>
  {{/if}}
{{/each}}
</select>