
<Await @promise={{this.fetchShows}} as |await|>
  <await.Pending>
    {{t "timetable.loading"}}
  </await.Pending>

  <await.Fulfilled as |shows|>
  <table class="page-bg block px-6 py-4">
    <thead>
      <tr>
      <th scope="col" colspan="2">
        {{t "timetable.timezone" }}
        <span class="italic">
          {{current-timezone}}
        </span>
      </th>
      </tr>
    </thead>
    <tbody>
      {{#each-in this.groupedShows as |day shows|}}
        <tr><td class="text-xl font-debussy">{{format-timetable-day day}}</td></tr>
        <tr><td><hr /></td></tr>
        {{#each shows as |show|}}
          <tr>
            <td>{{format-time show.start}} ~ {{format-time show.end}}</td>
            {{#if (is-current-show show)}}
              <td class="bleed">
                <LinkTo
                  @route="home.shows.episode"
                  @models={{array show.showSeriesSlug show.slug}}
                  title={{show.title}}>
                  {{show.title}}
                </LinkTo>
              </td>
            {{else}}
              <td>
                <LinkTo
                  @route="home.shows.episode"
                  @models={{array show.showSeriesSlug show.slug}}
                  title={{show.title}}>
                  {{show.title}}
                </LinkTo>
              </td>
            {{/if}}
          </tr>
        {{/each}}
        <br />
      {{/each-in}}
    </tbody>
  </table>
  </await.Fulfilled>

  <await.Rejected>
    {{t "error"}}{{format-message-body ":sorrymustabeentheonionsaladdressing:"}}
  </await.Rejected>
</Await>