<FileDropzone @name="images" as |dropzone queue|>
  {{#if dropzone.active}}
    {{#if dropzone.valid}}
      Drop to upload
    {{else}}
      Invalid
    {{/if}}
  {{else if queue.files.length}}
    Uploading {{queue.files.length}} files. ({{queue.progress}}%)
  {{else}}
    {{#if dropzone.supported}}
      Drag and drop images onto this area to upload them or
    {{/if}}
    <FileUpload @name="images"
                accept="image/*"
                multiple="true"
                @onfileadd={{this.uploadTrack}}>
      <a class=""><FaIcon @icon="plus" />Add</a>
    </FileUpload>
  {{/if}}

  {{yield}}
</FileDropzone>