{{#let (file-queue name="track" onFileAdded=this.uploadTrack) as |queue|}}
  <label>
    {{t "profile.my-shows.form.choose-file"}}
    <input type="file" {{queue.selectFile}}>
  </label>

  {{#if queue.files.length}}
    <div class="upload-progress-container">
      <div class="upload-progress-text">
        Uploading {{queue.files.length}} files. ({{queue.progress}}%)
      </div>
      <div class="upload-progress-bar">
        <div class="upload-progress-fill" style={{html-safe (concat "width: " queue.progress "%")}}></div>
      </div>
    </div>
  {{/if}}
{{/let}}