{{#if @showing}}
  <ul role="menu" class="absolute right-0 classic:bg-df-pink blm:bg-black trans:bg-df-blue font-semibold z-10" style="top: 115px;">
    <li class="hover:bg-df-blue rounded px-2 py-1">
      <LinkTo @route="home.dj" @model={{this.currentUser.user.username}} @invokeAction={{@toggleUserMenu}}>{{this.currentUser.user.username}}</LinkTo>
    </li>
    <li class="hover:bg-df-blue rounded px-2 py-1">
      <LinkTo @route="home.user.settings" @invokeAction={{@toggleUserMenu}}>{{t "usermenu.settings"}}</LinkTo>
    </li>
    <li class="hover:bg-df-blue rounded px-2 py-1">
      <LinkTo @route="home.user.favorites" @invokeAction={{@toggleUserMenu}}>{{t "profile.favorites"}}</LinkTo>
    </li>
    <li class="h-1 bg-df-green"></li>
    <li class="hover:bg-df-blue rounded px-2 py-1">
      <a href="#" {{on "click" this.logout}}>{{t "usermenu.logout"}}</a>
    </li>
  </ul>
{{/if}}
