<Await @promise={{this.fetchTracks}}>
  <:pending>
    <p id="podcast-search-loading" class="">
      {{t "loading"}}
    </p>
  </:pending>

  <:success as |result|>
    {{#each result as |show|}}
      <PodcastTrack
        @track={{show.firstTrack}}
        @show={{show}}
      />
    {{/each}}
  </:success>

  <:error>
    {{t "error"}}{{format-message-body ":sorrymustabeentheonionsaladdressing:"}}
  </:error>
</Await>