<Ui::Modal
  @toggleModal={{@closeDialog}}
>
  <div class="modal-body m-1 text-white">
    <div class="grid grid-cols-1">
      {{#if this.videoStream.active}}
        <Chat::TvModeButton
          @toggleVideo={{this.toggleVideo}}
          @enabled={{this.videoStream.displaying}}
        />
      {{/if}}
      <ThemeSelector 
        @setTheme={{this.setTheme}}
      />
      <LocaleSelector
        @selectedLocale={{this.intl.locale.value}}
        @setLocale={{this.setLocale}}
      />
      <WeatherSelector
        @setWeather={{this.setWeather}}
      />
    </div>
  </div>
</Ui::Modal>