<h3>{{t "studio.stream_title"}}</h3>
<span>{{this.metadata.title}}</span>
<form {{on "submit" this.updateMetadata}}>
  <Input
    class="input focus:outline-none focus:shadow-outline mb-2"
    @type="text"
    @value={{this.title}}
    />
  <Input
    class="cursor-pointer cool-button"
    @type="submit" @value={{t "studio.update"}} />
</form>