<div class="flex flex-wrap justify-evenly" {{did-insert this.didInsert}}>
  <input
    {{on "change" this.sizeChange}}
    type="range"
    name="size"
    id="size"
    list="emoji-width-datalist"
    step="12"
    min="24"
    max="72"
    value={{this.width}}
  >
  <datalist id="emoji-width-datalist">
    {{#each-in this.widthValues as |label value|}}
      {{log value}}
      {{log this.width}}
      <option value={{value}} label={{label}}></option>
    {{/each-in}}
  </datalist>
</div>
{{#each this.customEmojis as |emoji|}}
  <button
    type="button"
    {{on "click" (fn this.sendEmoji emoji.shortname)}}
    >
    <img
      width={{this.width}}
      alt={{emoji.shortname}}
      src={{emoji-url emoji}} />
  </button>
{{/each}}