<div class="flex flex-wrap justify-evenly">
  <input 
    {{on "change" this.sizeChange}}
    type="range" 
    name="size"
    id="size"
    list="emoji-width-datalist"
    step="12"
    min="24"
    max="72"
  >
  <datalist id="emoji-width-datalist">
    <option value="24" label="S"></option>
    <option value="36" label="M"></option>
    <option value="48" label="L"></option>
    <option value="60" label="XL"></option>
    <option value="72" label="XXL"></option>
  </datalist>
</div>
{{#each this.customEmojis as |emoji|}}
  <button
    type="button"
    {{on "click" (fn this.closeDialogAndSendEmoji emoji.shortname)}}
    >
    <img
      width={{this.width}}
      alt={{emoji.shortname}}
      src={{emoji-url emoji}} />
  </button>
{{/each}}
