<section class="page-spacing">
  <h1 class="text-3xl font-cursive mb-2">{{this.model.title}}</h1>
  {{#each this.model.sortedPosts as |post|}}
    <Post @post={{post}} />
  {{/each}}
  <section>
    {{#if this.session.isAuthenticated}}
      <h1 class="text-2xl font-cursive mb-2">Hey, {{this.currentUser.user.username}}, leave a reply.....???</h1>
      <Post::Form @postable={{this.model}} />
    {{else}}
      Login or register to post!
    {{/if}}
  </section>
</section>