<button
  {{on "click" this.toggleDialog}}
  type="button"
  class="cool-button md:hidden"
  title="Show the buddy list"
>
  {{this.buddyListIcon}}
</button>
{{#if this.showingDialog}}
  <Ui::Modal
    @toggleModal={{this.toggleDialog}}
    @hasOverlay={{false}}
    @clickOutsideToClose={{true}}
  >
    <div class="modal-body m-1">
      <div class="flex flex-shrink overflow-y-scroll">
        <ul id="userlist">
          {{#each-in this.chat.presences as |username user|}}
            <UserListItem @user={{user}} />
          {{/each-in}}
        </ul>
      </div>
    </div>
  </Ui::Modal>
{{/if}}
