<button
  type="button"
  class="cool-button"
  {{on "click" this.toggleDialog}}
  title="Show the chat settings"
>
  {{this.gearIcon}}
</button>
{{#if this.showingDialog}}
  <Ui::Modal
    @toggleModal={{this.closeDialog}}
  >
    <div class="modal-body m-1">
      <Chat::EnableGifsButton
        @toggleGifs={{this.toggleGifsEnabled}}
        @enabled={{this.chat.gifsEnabled}}
      />
      <Chat::TvModeButton />
      <Chat::BuddyListButton />
    </div>
  </Ui::Modal>
{{/if}}
