<span
  {{on "mouseenter" this.showUserInfo}}
  {{on "mouseleave" this.hideUserInfo}}
  class="relative"
  >
  {{#if this.isDj}}
    <LinkTo class="hover:underline" @route="home.dj" @model={{@username}}>
      {{format-message-user @username}}
    </LinkTo>
  {{else}}
    {{format-message-user @username}}
  {{/if}}
  {{#if (and this.showingDjInfo this.isDj)}}
    <div class="absolute bg-purple-100 p-5 rounded-xl z-50 border-4 border-white">
      <img
        class="inline rounded-lg"
        style="height: 2rem;"
        src="{{@avatarUrl}}"
        align="center"
        alt="{{ t "chat.user_avatar" }}" / >
      {{@username}}
    </div>
  {{/if}}
</span>
