<div
  {{did-insert this.setUnread}}
  >
  <a {{on "click" this.toggleNotificationsModal}} ...attributes class="text-shadow">
    <img src="/assets/images/futsu.png"
         style="max-width: none;"
         alt="{{this.pidgeonTranslation}}"
         class="{{if this.hasUnread "shake" ""}}" />
  </a>
  {{#if this.showingNotificationsModal}}
    <Ui::Modal
        @toggleModal={{this.toggleNotificationsModal}}
      >
      <div class="modal-body m-1">
        <h1>
          {{t "profile.notifications.title"}}
        </h1>
        <div>
          <Await @promise={{this.fetchNotifications}}>
            <:pending>
              <p id="podcast-search-loading" class="">
                {{t "loading"}}
              </p>
            </:pending>

            <:success as |result|>
              <ul>
                {{#each result as |notification|}}
                  <UserNotification @notification={{notification}} />
                {{/each}}
              </ul>
            </:success>

            <:error>
              {{t "error"}}{{format-message-body ":sorrymustabeentheonionsaladdressing:"}}
            </:error>
          </Await>
        </div>
      </div>
    </Ui::Modal>
  {{/if}}
</div>