{{#let (changeset @show this.ShowSeriesValidations) as |changeset|}}
  <Ui::ChangesetForm
        class="max-w-md"
        @changeset={{changeset}}
        @onError={{this.onError}}
        @onSubmit={{this.onSubmit}} as |Form|>
      {{#each-in this.errors as |field error|}}
        <div class="error">
          {{field}}: {{error}}
        </div>
      {{/each-in}}
      <Form.Input
        @label={{t "profile.my-shows.form.title"}}
        @fieldName="title"
        @containerClass='mb-2'
        />
        <h4 class="block text-sm font-bold mb-2">Host</h4>
        <PowerSelectMultiple
          @renderInPlace={{true}}
          @searchEnabled={{true}}
          @search={{this.searchDjs}}
          @options={{@users}}
          @selected={{changeset.users}}
          @onChange={{fn (mut changeset.users)}} as |dj|>
          {{dj.username}}
        </PowerSelectMultiple>
      <div>
        <label class="align-top" for="show-artwork"> {{t "profile.my-shows.form.artwork"}}</label>
        <br/>
        {{#if @show.isNew}}
          {{#if changeset.image}}
            <img alt="artwork" width="300" height="300"
              src={{changeset.image}}>
          {{/if}}
        {{else}}
          {{#if changeset.thumbImageUrl}}
            <img alt="artwork" width="300" height="300"
              src={{changeset.thumbImageUrl}}>
          {{/if}}
        {{/if}}
        <input
          class="py-4 px-4 my-2 text-df-yellow w-full semibold border-dashed"
          id="showArtwork"
          name="showArtwork"
          type="file"
          {{on "change" this.updateFile}}
        />
      </div>
      <Form.Textarea
        @label={{t "profile.my-shows.form.description"}}
        @fieldName="description"
        @containerClass='mb-2'
        @size='lg'
        @value={{changeset.description}}
        rows='20'
        cols='50'
        />
      <div>
        <label class="block text-sm font-bold mb-2" for="body">{{t "profile.my-shows.form.start"}}</label>
        <Input
          @type="date"
          @id="start-date"
          @value={{changeset.startDate}}
        />
        <TimePicker
          @value={{changeset.startTime}}
          @property="startTime"
          @changeset={{changeset}}
          />
      </div>
      <div>
        <label class="block text-sm font-bold mb-2" for="body">{{t "profile.my-shows.form.end"}}</label>
        <Input
          @type="date"
          @id="end-date"
          @value={{changeset.endDate}}
        />
        <TimePicker
          @value={{changeset.endTime}}
          @property="endTime"
          @changeset={{changeset}}
          />
      </div>
      <div class="mb-2">
        <label class="block text-sm font-bold mb-2" for="repeating">{{t "profile.my-shows.form.repeating"}}</label>
        <select
          id="repeating"
          {{on "change" this.setRepeating}}
          >
          <option value="true">Repeating</option>
          <option value="false" selected>One-off</option>
        </select>
      </div>
      {{#if changeset.repeating}}
        <div class="mb-2">
          <select
            id="repeating-interval"
            {{on "change" (pick "target.value" (set this.args.show "recurringInterval"))}}
            >
            <option value="week" selected>Weekly</option>
            <option value="biweek">Bi-weekly (every other week)</option>
            <option value="month">Monthly</option>
          </select>
          {{#if changeset.isWeekly}}
            <span>On</span>
            <User::ShowForm::WeekdaySelect
              @show={{@show}}
              />
          {{/if}}
          {{#if changeset.isBiweekly}}
            <span>On</span>
            <User::ShowForm::WeekdaySelect
              @show={{@show}}
              />
          {{/if}}
          {{#if changeset.isMonthly}}
            <span>Every</span>
            <select
              id="monthly-interval"
              {{on "change" (pick "target.value" (set this.args.show "recurringCadence"))}}
              >
              <option value="first">First</option>
              <option value="second">Second</option>
              <option value="third">Third</option>
              <option value="forth">Forth</option>
              <option value="last">Last</option>
            </select>
            <User::ShowForm::WeekdaySelect
              @show={{@show}}
              />
          {{/if}}
        </div>
      {{/if}}
      <LabelsSelect
        @changeset={{changeset}}
        />
      <div>
        <Button
          @type='submit'
          @intent='primary'
          disabled={{(or Form.state.hasSubmitted changeset.isInvalid)}}
          class='cool-button mb-2'
          >
          SAVE SHOW
        </Button>
      </div>
      {{#if Form.state.hasSubmitted}}
        <marquee>SAVING....DON'T TURN OFF THE POWER.........</marquee>
      {{/if}}
  </Ui::ChangesetForm>
{{/let}}