{{!--


USER LIST


--}}

<Await @promise={{this.fetchDjs}} as |await|>
  <div
    {{did-update await.reload @searchParams.page}}
  >
    <await.Pending>
      <h1>
        {{random-loading-message}}
      </h1>
    </await.Pending>
    <await.Fulfilled as |result|>


      <div class="grid grid-cols-fruits gap-6">
        {{#each result as |dj|}}

          {{! User }}
          <div class="flex flex-col gap-2 pt-2 classic:bg-df-blue-dark blm:bg-black trans:bg-df-blue rounded-md overflow-hidden">
            
            {{! Username }}
            <h2 class="px-2 font-debussy text-lg overflow-hidden break-words">
              <LinkTo @route="home.dj" @model={{dj.username}} title={{dj.username}}>
                {{dj.username}}
              </LinkTo>
            </h2>
            
            {{! Badges (like if they're a DJ) }}
            <div class="px-2">
              <User::Badges @role={{dj.role}} />
            </div>

            {{! Flexible spacer to keep layouts looking clean :) }}
            <div class="flex-1"></div>


            {{#if (eq dj.avatarUrl null)}}
              <img
                style="aspect-ratio:1/1;"
                class="width-full"
                src="/assets/images/dj_placeholder.png"
                alt={{dj.username}}
              >
            {{else}}
              <img
                style="aspect-ratio:1/1;"
                class="width-full"
                src={{dj.avatarUrl}}
                alt={{dj.username}}
              >
            {{/if}}
          </div>
        {{/each}}
      </div>
      <!--
      <FruitsUi::Pagination
        @totalPages={{result.meta.total_pages}}
        @page={{@searchParams.page}}
        @route={{this.router.currentRouteName}}
      />
      -->
    </await.Fulfilled>
    <await.Rejected>
      error ... :(
    </await.Rejected>
  </div>
</Await>
