<Await @promise={{this.fetchTracks}}>
  <:pending>
    <p id="podcast-search-loading" class="">
      {{t "loading"}}
    </p>
  </:pending>
  <:success as |result|>
    {{#each result as |show|}}
      {{#if show.tracks.firstObject}}
        <PodcastTrack
          @track={{show.tracks.firstObject}}
          @show={{show}}
        />
      {{/if}}
    {{/each}}
    <FruitsUi::Pagination
      @totalPages={{result.meta.total_pages}}
      @page={{@page}}
      @route={{this.router.currentRouteName}} />
  </:success>

  <:error>
    {{t "error"}}
  </:error>
</Await>