<Await @promise={{this.fetchTracks}} as |await|>
  <section
      {{did-update await.reload @page}}
    >
    <await.Pending>
      <p id="podcast-search-loading" class="">
        {{t "loading"}}
      </p>
    </await.Pending>
    <await.Fulfilled as |result|>
      {{#each result as |track|}}
        <PodcastTrack
          @track={{track}}
          @selectLabel={{this.browseLabel}}
        />
      {{/each}}
      <FruitsUi::Pagination
        @totalPages={{result.meta.total-pages}}
        @page={{@page}}
        @route={{this.router.currentRouteName}} />
    </await.Fulfilled>

    <await.Rejected>
      {{t "error"}}
    </await.Rejected>
  </section>
</Await>
