<form {{on "submit" this.saveArticle}}>
  <div class="mb-2">
    <label class="block text-sm font-bold mb-2" for="wiki-title">{{t "wiki.title"}}</label>
    <Input
      class="form-input focus:outline-none focus:shadow-outline"
      @id="wiki-title"
      @type="text"
      @autofocus={{true}}
      {{on "change" this.updateTitle}}
      data-test-title
      />
  </div>
  <div class="mb-2">
    <label class="block text-sm font-bold mb-2" for="wiki-body">{{t "wiki.body"}}</label>
    <Textarea
      class="form-input focus:outline-none focus:shadow-outline"
      @id="wiki-body"
      @autofocus={{true}}
      data-test-body
      />
  </div>
  <div class="mt-2">
    <input
      type="submit"
      value="{{t "wiki.submit"}}"
      class="cool-button"
      data-test-submit
      >
  </div>
</form>
