<section class="page-spacing">
  <section class="flex w-full">
    <section class="w-1/2">
      <h1 class="text-3xl">
        {{this.model.formattedEpisodeTitle}}
      </h1>
      <p>
      </p>
      <p>
        {{marked-down this.model.description}}
      </p>
      {{#each this.model.tracks as |track|}}
        <PodcastTrack @track={{this.model.track}} />
      {{/each}}
      <p>
        Check out more episodes of
        <LinkTo
          @route="home.show"
          @model={{this.model.showSeries.slug}}>
          {{this.model.showSeries.title}}
        </LinkTo>
      </p>
      <div class="">
        {{#each this.model.labels as |label|}}
          <a
            class="track-label
              text-df-yellow
              classic:bg-df-pink
              blm:bg-black
              hover:text-white
              p-1
              uppercase
              border-solid
              border-white
              border-2
              p-x-2
              font-extrabold"
            href="#">
            {{label.name}}
          </a>
        {{/each}}
      </div>
      <div>
        <h1>COMMENTS</h1>
        <section>
          {{#if this.session.isAuthenticated}}
            <h1 class="text-2xl font-cursive mb-2">Hey, {{this.currentUser.user.username}}, leave a comment.....???</h1>
            <Post::Form @postable={{this.model}} />
          {{else}}
            Login or register to post!
          {{/if}}
        </section>
      </div>
    </section>
    <section class="w-1/2">
    </section>
  </section>
</section>