<button
  {{on "click" (fn @fruitTip @fruit)}}
  class="cool-button fruit-tip-button tip mr-1 ml-1 mt-1 text-xl font-black"
  type="button"
  disabled={{this.disabled}}
  >
  {{#if (gt @fruit.levelReq 0)}}
    <span class="s">Lv. {{@fruit.levelReq}}</span>
  {{/if}}
  {{#if @fruit.cost}}
    <span class="xs">Ƒ</span><span>{{@cost}}</span>
  {{/if}}
  <img src={{@fruit.image}} alt={{@fruit.name}} />
  <h1 class="text-xl">{{this.count}}</h1>
</button>