<section class="page-spacing">
  <section class="flex space-x-2 w-full">
    {{#if (or (eq this.model.shrimpo.status 'completed') (eq this.model.shrimpo.shrimpoType 'major'))}}
      <section class="w-1/4 bg-df-pink rounded-lg border-4 border-white ">
        <span
          class="p-4 shrink-0"
          style="height: 10rem; width: 10rem; flex-shrink: 0;"
          >
          <img
          class="rounded-lg inline self-center object-none"
          style="height: 10rem; width: 100%;"
          align="center"
          alt="{{this.model.username}}"
          src="{{this.model.userAvatar}}" />
        </span>
        <section class="flex flex-col grow">
          <span class="user-info mb-2">
            <LinkTo
              @route="home.dj"
              @model={{this.model.username}}
              class="text-3xl df-text-yellow"
              >
              {{this.model.username}}
            </LinkTo>
            <User::Badges @role={{this.model.userRole}} />
          </span>
        </section>
      </section>
    {{/if}}

    <section class="w-3/4">
      <section class="bg-df-pink rounded-lg border-4 border-white mb-2 p-2">
        <h2>{{this.model.title}}</h2>
        <p>
          {{this.model.description}}
        </p>
        {{#if (eq this.model.shrimpo.status 'completed')}}
          <div class="">
            <span class="font-extrabold">{{formatted-shrimpo-ranking this.model.ranking this.model.shrimpo.savedShrimpoEntries.length}}</span>

            <div>
              <span>Total {{this.scoreEmoji}}'s:</span>
              <span class="font-extrabold">{{this.model.totalScore}}</span>
            </div>
          </div>
        {{/if}}
        <Shrimpo::Player @shrimpoEntry={{this.model}} />
      </section>
      <section class="bg-df-pink rounded-lg border-4 border-white mb-2 p-2">
        <Shrimpo::Pagination @entry={{this.model}} />
      </section>
      {{#if (and this.session.isAuthenticated (eq this.model.shrimpo.status 'voting'))}}
        {{#if (not-eq this.currentUser.user.username this.model.username)}}
          <section class="bg-df-pink rounded-lg border-4 border-white p-2">
            <Shrimpo::VotingTable @entry={{this.model}} />
          </section>
        {{else}}
          <h1>can't vote on one's OWN shrimpo that just wouldn't be ok would it</h1>
        {{/if}}
      {{/if}}
    </section>
  </section>
</section>