<section class="page-spacing">
  <h1>{{this.model.title}}</h1>
  <img src={{this.model.coverArtUrl}} />
  <h4>{{this.model.savedShrimpoEntries.length}} entries</h4>
  <div>
    Started at: {{format-date this.model.startAt}}
  </div>
  {{#if (eq this.model.status 'completed')}}
    <div>
      Ended at: {{format-date this.model.endedAt}}
    </div>
  {{/if}}
  <div>
    {{#each this.model.savedShrimpoEntries as |shrimpoEntry|}}
      <Shrimpo::EntryCard @shrimpoEntry={{shrimpoEntry}} />
    {{/each}}
  </div>

  {{#if (eq this.model.status 'running')}}
    <Shrimpo::Countdown @endAt={{this.model.endAt}} />

    {{#if this.session.isAuthenticated}}
      <h2>SUBMIT ENTRY</h2>
      <Shrimpo::EntryUploader @shrimpo={{this.model}} />
    {{else}}
      <span><LinkTo @route="home.sign-up">Create an account</LinkTo> to join the shrimpo.</span>
    {{/if}}
  {{/if}}
</section>