<section class="page-spacing">
  <h1>{{this.model.title}}</h1>
  <h4>{{this.model.shrimpoEntries.length}} entries</h4>
  <div>
    {{#each this.model.savedShrimpoEntries as |shrimpoEntry|}}
      <Shrimpo::EntryCard @shrimpoEntry={{shrimpoEntry}} />
    {{/each}}
  </div>

  {{#if (eq this.model.status 'completed')}}
    <h3>Listen Entries</h3>
  {{else if (eq this.model.status 'running')}}
    <Shrimpo::Countdown @endAt={{this.model.endAt}} />

    {{#if this.session.isAuthenticated}}
      <h2>SUBMIT ENTRY</h2>
      <Shrimpo::EntryUploader @shrimpo={{this.model}} />
    {{else}}
      <span><LinkTo @route="home.sign-up">Create an account</LinkTo> to join the shrimpo.</span>
    {{/if}}
  {{else if (eq this.model.status 'voting')}}
    <Shrimpo::VotingTable  @shrimpo={{this.model}}/>
  {{/if}}
</section>