<section class="page-spacing">
  <h1>{{this.model.title}}</h1>
  <section class="flex space-x-2 w-full">
    <section class="w-1/4">
      <section class="bg-df-pink rounded-lg border-4 border-white p-2 mb-2">
        <img
          src={{this.model.coverArtUrl}}
          alt=""
          class="h-40"
        />
      </section>
      <section class="bg-df-pink rounded-lg border-4 border-white p-2">
        <h4>Hosted By:</h4>
        <LinkTo
        class="text-xl font-bold"
        @route='home.dj'
        @model={{this.model.username}}
        >
          <img
          class="inline rounded-lg"
          style="height: 3rem;"
          align="center"
          alt="{{this.model.username}}"
          src="{{this.model.userAvatar}}" />
          {{this.model.username}}
        </LinkTo>
      </section>
    </section>
    <section class="w-3/4">
      <section class="bg-df-pink rounded-lg border-4 border-white p-2 mb-2">
        <h3>Rules:</h3>
        <p class="m-2">
          {{marked-down this.model.rulePack}}
        </p>
        <div>
          <h3>Status: {{this.model.status}}</h3>
          {{#if (eq this.model.status 'running')}}
            <Shrimpo::Countdown @endAt={{this.model.endAt}} />
          {{/if}}
        </div>
        <div>
          <h3>Shrimpo type: <span class="uppercase">{{this.model.shrimpoType}}</span></h3>
        </div>
        {{#if (eq this.model.shrimpoType 'mega')}}
        <div>
          <h4>Voting Categories:</h4>
          {{this.formattedVotingCategories}}
        </div>
        {{/if}}
        <h4>{{this.model.savedShrimpoEntries.length}} entries</h4>
        <div>
          Started at: {{format-date this.model.startAt}}
        </div>
        {{#if (eq this.model.status 'completed')}}
          <div>
            Ended at: {{format-date this.model.endedAt}}
          </div>
        {{/if}}
        <p class="m-2">
          <a
            class="cool-button"
            href="{{this.model.zipFileUrl}}">
            DOWNLOAD SHRIMPO PACK (.zip)
          </a>
        </p>
      </section>
      <div>
        {{#if this.canShowEntries}}
          <div class="mb-4">
            {{#if this.model.entriesZipFileUrl}}
              <a class="cool-button" href={{@this.model.entriesZipFileUrl}}>DOWNLOAD ALL</a>
            {{/if}}
          </div>
          {{#if (eq this.model.shrimpoType 'mega')}}
            {{#if (eq this.model.status 'completed')}}
              <!-- two cols of results -->
              <h1>best overall</h1>
              {{#each this.model.shrimpoVotingCategories as |category|}}
                <h1>{{category.name}}</h1>
                {{#each category.shrimpoVotingCategoryScores as |score|}}
                  <Shrimpo::EntryCard @shrimpoEntry={{score.shrimpoEntry}} />
                {{/each}}
              {{/each}}
            {{/if}}
          {{else}}
            <h1>Entries</h1>
            {{#each this.model.savedShrimpoEntries as |shrimpoEntry|}}
              <Shrimpo::EntryCard @shrimpoEntry={{shrimpoEntry}} />
          {{/each}}
          {{/if}}
        {{/if}}
      </div>

      {{#if (eq this.model.status 'running')}}
        <section class="bg-df-pink rounded-lg border-4 border-white p-2">
            {{#if this.session.isAuthenticated}}
              <h2>SUBMIT ENTRY</h2>
              <Shrimpo::EntryUploader @shrimpo={{this.model}} />
            {{else}}
              <span><LinkTo @route="home.sign-up">Create an account</LinkTo> to join the shrimpo.</span>
            {{/if}}
        </section>
      {{/if}}
      <section>
        {{#if this.session.isAuthenticated}}
          <h1 class="text-2xl font-cursive mb-2">Hey, {{this.currentUser.user.username}}, {{t "show.episode.leave_a_comment"}}</h1>
          <Post::Form @postable={{this.model}} @postableType={{'Shrimpo'}} />
        {{else}}
          {{t "forum.login_or_register"}}
        {{/if}}
      </section>
      <section class="posts">
        {{#each this.model.posts as |post|}}
          <Post @post={{post}} />
        {{/each}}
      </section>
    </section>
  </section>
</section>