<section class="page-spacing">
  <h1>{{this.model.shrimpo.title}}</h1>
  <section class="flex space-x-2 w-full">
    <section class="w-1/4">
      <section class="bg-df-pink rounded-lg border-4 border-white p-2 mb-2">
        <img src={{this.model.shrimpo.coverArtUrl}} alt="" class="h-40" />
      </section>
      <section class="bg-df-pink rounded-lg border-4 border-white p-2 mb-2">
        <h4>Hosted By:</h4>
        <LinkTo
          class="text-xl font-bold"
          @route="home.dj"
          @model={{this.model.shrimpo.username}}
        >
          <img
            class="inline rounded-lg"
            style="height: 3rem;"
            align="center"
            alt="{{this.model.shrimpo.username}}"
            src="{{this.model.shrimpo.userAvatar}}"
          />
          {{this.model.shrimpo.username}}
        </LinkTo>
      </section>
      <section>
        <!-- admin stuff -->
        {{#if this.hostLoggedIn}}
          <button
            {{on "click" this.endShrimpo}}
            disabled={{if this.canEndShrimpo false true}}
            class="cool-button"
          >
            {{t "shrimpo.end_shrimpo"}}
          </button>
        {{/if}}
      </section>
    </section>
    <section class="w-3/4">
      <section class="bg-df-pink rounded-lg border-4 border-white p-2 mb-6">
        <h3>Rules:</h3>
        <p class="m-2">
          {{emoji-marked-down this.model.shrimpo.rulePack}}
        </p>
        <div>
          <h3>Status: {{this.model.shrimpo.status}}</h3>
          {{#if (eq this.model.shrimpo.status "running")}}
            <Shrimpo::Countdown @endAt={{this.model.shrimpo.endAt}} />
          {{/if}}
        </div>
        <div>
          <h3>Shrimpo type:
            <span
              class="uppercase"
            >{{this.model.shrimpo.shrimpoType}}</span></h3>
        </div>
        {{#if (eq this.model.shrimpo.shrimpoType "mega")}}
          <div>
            <h4>Voting Categories:</h4>
            {{this.formattedVotingCategories}}
          </div>
        {{/if}}
        <h4>{{this.model.shrimpo.savedShrimpoEntries.length}} entries</h4>
        <div>
          Started at:
          {{format-date this.model.shrimpo.startAt}}
        </div>
        {{#if (eq this.model.shrimpo.status "completed")}}
          <div>
            Ended at:
            {{format-date this.model.shrimpo.endedAt}}
          </div>
        {{/if}}
        <p class="m-2">
          <a class="cool-button" href="{{this.model.shrimpo.zipFileUrl}}">
            {{t "shrimpo.download_pack"}}
          </a>
        </p>
      </section>
      <div>
        {{#if this.canShowEntries}}
          <div class="mb-4">
            {{#if this.model.shrimpo.entriesZipFileUrl}}
              <a
                class="cool-button"
                href={{@this.model.shrimpo.entriesZipFileUrl}}
              >{{t "shrimpo.download_all"}}</a>
            {{/if}}
          </div>
          {{#if (eq this.model.shrimpo.shrimpoType "mega")}}
            {{#if (eq this.model.shrimpo.status "completed")}}
              <!-- two cols of results -->
              <h1>best overall</h1>
              {{#each this.model.shrimpo.savedShrimpoEntries as |shrimpoEntry|}}
                <Shrimpo::EntryCard @shrimpoEntry={{shrimpoEntry}} />
              {{/each}}
              <hr />
              {{#each this.model.shrimpo.shrimpoVotingCategories as |category|}}
                <h1>{{category.name}}</h1>
                {{#each category.sortedScores as |score|}}
                  <Shrimpo::EntryCard
                    @shrimpoEntry={{score.shrimpoEntry}}
                    @categoryScore={{score}}
                  />
                  <hr />
                {{/each}}
              {{/each}}
            {{else}}
              <h1>Entries</h1>
              {{#each this.model.shrimpo.savedShrimpoEntries as |shrimpoEntry|}}
                <Shrimpo::EntryCard @shrimpoEntry={{shrimpoEntry}} />
              {{/each}}
            {{/if}}
          {{else}}
            <h1>Entries</h1>
            {{#each this.model.shrimpo.savedShrimpoEntries as |shrimpoEntry|}}
              <Shrimpo::EntryCard @shrimpoEntry={{shrimpoEntry}} />
            {{/each}}
          {{/if}}
        {{/if}}
      </div>

      {{#if (eq this.model.shrimpo.status "running")}}
        <section class="bg-df-pink rounded-lg border-4 border-white p-2">
          {{#if this.session.isAuthenticated}}
            <h2>SUBMIT ENTRY</h2>
            <Shrimpo::EntryUploader
              @shrimpo={{this.model.shrimpo}}
              @shrimpoEntry={{this.model.shrimpoEntry}}
            />
          {{else}}
            <span><LinkTo @route="home.sign-up">Create an account</LinkTo>
              to join the shrimpo.</span>
          {{/if}}
        </section>
      {{/if}}
      <section>
        {{#if this.session.isAuthenticated}}
          <h1 class="text-2xl font-cursive mb-2">Hey,
            {{this.currentUser.user.username}},
            {{t "show.episode.leave_a_comment"}}</h1>
          <Post::Form
            @postable={{this.model.shrimpo}}
            @postableType={{"Shrimpo"}}
          />
        {{else}}
          {{t "forum.login_or_register"}}
        {{/if}}
      </section>
      <section class="posts">
        {{#each this.model.shrimpo.posts as |post|}}
          <Post @post={{post}} />
        {{/each}}
      </section>
    </section>
  </section>
</section>