<section class="page-spacing">
  <h1>{{this.model.title}}</h1>
  <img src={{this.model.coverArtUrl}} />
  <p>
    <span class="font-bold">Rules: </span>{{this.model.rulePack}}
  </p>
  <p>
    {{this.model.zipFileUrl}}
  </p>
  <h4>{{this.model.savedShrimpoEntries.length}} entries</h4>
  <div>
    Started at: {{format-date this.model.startAt}}
  </div>
  {{#if (eq this.model.status 'completed')}}
    <div>
      Ended at: {{format-date this.model.endedAt}}
    </div>
  {{/if}}
  <div>
    {{#if (or
            (or
              (eq this.model.status 'voting')
              (eq this.model.status 'completed') )
            (eq this.model.shrimpoType 'major'))
    }}
      {{#each this.model.savedShrimpoEntries as |shrimpoEntry|}}
        <Shrimpo::EntryCard @shrimpoEntry={{shrimpoEntry}} />
      {{/each}}
    {{/if}}
  </div>

  {{#if (eq this.model.status 'running')}}
    <Shrimpo::Countdown @endAt={{this.model.endAt}} />

    {{#if this.session.isAuthenticated}}
      <h2>SUBMIT ENTRY</h2>
      <Shrimpo::EntryUploader @shrimpo={{this.model}} />
    {{else}}
      <span><LinkTo @route="home.sign-up">Create an account</LinkTo> to join the shrimpo.</span>
    {{/if}}
  {{/if}}
</section>