{{title "DATAFRUITS.FM"}}
<section class="flexbox-container">
  {{#bs-navbar fluid=true collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) class="custom-navbar" as |navbar|}}
    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}{{#nav.link-to "chat"}}{{t "chat"}}{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "podcasts"}}{{t "podcasts"}}{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}
          <a href="http://releases.datafruits.fm/" target="_blank">{{t 'label'}}</a>
        {{/nav.item}}
        {{#nav.item}}{{#nav.link-to "about"}}{{t "about"}}{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "blog"}}{{t "blog"}}{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}
          <a href="http://datafruits.storenvy.com/" target="_blank">{{t 'shop'}} →</a>
        {{/nav.item}}
        {{#nav.item}}{{#nav.link-to "subscribe"}}{{t "subscribe"}}{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "dj-inquiry"}}{{t "djinquiry"}}{{/nav.link-to}}{{/nav.item}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}
  {{#link-to 'application'}}<h1 id="logo">datafruits.fm</h1>{{/link-to}}
  {{outlet}}
  {{datafruits-player nextShow=model}}
  {{locale-selector selectedLocale=locale setLocale=(action "setLocale")}}
</section>
<a href="https://soundcloud.com/datafruits/studio-phone" target="_blank"><img class="tiny-guy" src="{{rootURL}}assets/images/bgs_small.png" /></a>
{{datafruits-visuals}}
