{{title "DJ on DATAFRUITS.FM"}}
<div class="main-content">
  <h1 id="myModalLabel">{{t "djinquiry.heading"}}</h1>
  <div class="modal-body">
    <p>
      {{t "djinquiry.description"}}
    </p>
    <p>
      <form {{action "submit" on="submit"}}>
        <div>
          <label>{{t "djinquiry.email"}}</label>{{input value=model.email}}
        </div>
        <div>
          <label>{{t "djinquiry.username"}}</label>{{input value=model.username}}
        </div>
        <div>
          <label>Link to a 1-2 hour mix you've made</label>{{input value=model.link}}
        </div>
        <div>
          <label>Would you like to do a weekly, bi-weekly or monthly show?</label>
          {{#power-select
            selected=model.interval
            options=intervals
            onchange=(action (mut model.interval))
            as |name|
            }}
            {{name}}
          {{/power-select}}

        </div>
        <div>
          <label>what time would you like to do a show? typical shows are 2 hours. e.g. sundays at 3pm-5pm PST</label>
          {{#power-select
            selected=dayOfWeek
            options=intervals
            onchange=(action (mut model.interval))
            as |name|
            }}
            {{name}}
          {{/power-select}}
        </div>
        <div>
          <label>Any other questions or comments?</label>
          {{input type="text" value=model.otherComment}}
        </div>
        <div>
          <input type="submit" value="Send" class="cool-button">
        </div>
      </form>
    </p>
  </div>
  <div class="modal-footer">
    <ul class="social-icons">
      <li><a href="http://twitter.com/datafruits" class="lsf-icon" title="twitter" target="_blank"></a></li>
      <li><a href="http://github.com/datafruits" class="lsf-icon" title="github" target="_blank"></a></li>
      <li><a href="http://soundcloud.com/datafruits" class="lsf-icon" title="soundcloud" target="_blank"></a></li>
      <li><a href="mailto:info@datafruits.fm" class="lsf-icon" title="mail" target="_blank"></a></li>
    </ul>
  </div>
</div>
