<section class="h-handle-resize flex flex-col justify-between">
  <div class="flex classic:bg-df-pink blm:bg-black trans:bg-df-blue mb-5 pb-2">
    <PcNav
      @toggleSubMenu={{this.toggleSubMenu}}
      @submenuOpen={{this.submenuOpen}}
      @toggleUserMenu={{this.toggleUserMenu}}
    />
    <SpNav
      @toggleMenu={{this.toggleMenu}}
      @toggleUserMenu={{this.toggleUserMenu}}
      @menuOpen={{this.menuOpen}} />
  </div>
  <UserMenu
    @showing={{this.isShowingUserMenu}}
    @toggleUserMenu={{this.toggleUserMenu}} />
  <NewVersionNotifier
    @updateMessage="A new version of datafruits was released: {newVersion}"
  />
  <div class="overflow-auto min-h-0 text-white text-shadow flex flex-col flex-grow ">
    {{outlet}}
  </div>
  <DatafruitsPlayer
    class="flex-col flex justify-center classic:bg-df-pink blm:bg-black trans:bg-df-blue text-xl py-2 text-white leading-none"
    >

    <DjDonateModal class="hidden md:block mr-2" />

    <div class="text-sm text-white hidden md:block">
      <ThemeSelector
        class="text-white"
        @setTheme={{action "setTheme"}}
      />
      <LocaleSelector
        class="text-white mt-1"
        @selectedLocale={{locale.value}}
        @setLocale={{action "setLocale"}}
      />
    </div>
  </DatafruitsPlayer>
  <div class="flex-row flex justify-between text-xl classic:bg-df-green blm:bg-black trans:bg-df-blue">
    <AddDatafruit />
  </div>
</section>
<DatafruitsVisuals
  class="block absolute top-0 w-screen h-screen h-handle-resize"
/>
<Notifications />
<WindowResizeHandler />
{{#if (not this.fastboot.isFastBoot)}}
  {{#if this.showingPixi}}
    <Pixi />
  {{/if}}
{{/if}}
