<section class="h-handle-resize flex flex-col justify-between">
  <div class="flex classic:bg-df-pink blm:bg-black trans:bg-df-blue">
    <a class="skip-to-content-link" href="#main-content">
      {{t "skip_to_content"}}
    </a>
    <PcNav
      @toggleSubMenu={{this.toggleSubMenu}}
      @submenuOpen={{this.submenuOpen}}
      @toggleUserMenu={{this.toggleUserMenu}}
      @toggleLoginModal={{this.toggleLoginModal}}
    />
    <SpNav
      @toggleMenu={{this.toggleMenu}}
      @toggleUserMenu={{this.toggleUserMenu}}
      @menuOpen={{this.menuOpen}} />
  </div>
  <UserMenu
    @showing={{this.isShowingUserMenu}}
    @toggleUserMenu={{this.toggleUserMenu}} />
  <OurVersionNotifier
    @updateMessage="Updates have been made to datafruits! Refresh to stay up-to-date 💻" 
    @reloadButtonText="Refresh" />
  <div class="overflow-auto min-h-0 text-white text-shadow flex flex-col flex-grow" id="main-content">
    {{outlet}}
  </div>
  <DatafruitsPlayer
    class="flex-col flex justify-center classic:bg-df-pink blm:bg-black trans:bg-df-blue text-xl py-2 text-white leading-none"
    >

    <TvModeButton />

    <DjDonateModal class="hidden md:block mr-2" />

    <div class="text-sm text-white hidden md:block">
      <ThemeSelector
        class="text-white"
        @setTheme={{action "setTheme"}}
      />
      <LocaleSelector
        class="text-white hidden md:block mt-1"
        @selectedLocale={{this.locale.value}}
        @setLocale={{this.setLocale}}
      />
    </div>
  </DatafruitsPlayer>
  <div class="flex-row flex justify-between text-xl classic:bg-df-green-dark blm:bg-black trans:bg-df-blue">
    <AddDatafruit />
  </div>
</section>
<DatafruitsVisuals
  class="block absolute top-0 w-screen h-screen h-handle-resize"
/>
{{#if (not this.fastboot.isFastBoot)}}
  <Notifications />
  <WindowResizeHandler />
  {{#if this.showingPixi}}
    <Pixi />
  {{/if}}
{{/if}}

{{#if april-fools}}
  <!-- bgs -->
  <a href="https://datafruits.bandcamp.com/album/bgs-vs-firedrill-studio-phone-3" rel="noopener noreferrer" target="_blank"><img class="tiny-guy" alt=":bgs:" src="/assets/images/bgs_small.png" /></a>
  <!-- grumby -->
  <a href="https://www.youtube.com/shorts/9_g8YA_vJzg" rel="noopener noreferrer" target="_blank"><img class="tiny-grumby" alt=":bgs:" src="/assets/images/emojis/grumby.gif" /></a>
{{/if}}

{{#if this.showingLoginModal}}
  <LoginModal
    @login={{this.authenticate}}
    @toggleModal={{this.toggleLoginModal}}
  />
{{/if}}
