<section class="h-handle-resize flex flex-col">
  <PcNav
    @toggleSubMenu={{action "toggleSubMenu"}}
    @submenuOpen={{submenuOpen}}
  />
  <SpNav @toggleMenu={{action "toggleMenu"}} @menuOpen={{menuOpen}} />
  <LinkTo @route="home">
    <h1 class="font-debussy">
      {{t "site_title_fm"}}
    </h1>
  </LinkTo>
  {{outlet}}
  <DatafruitsPlayer @nextShow={{model}}>
    <DjDonateButton />
    <LocaleSelector
      @selectedLocale={{locale.value}}
      @setLocale={{action "setLocale"}}
    />
  </DatafruitsPlayer>
</section>
<DatafruitsVisuals />
<Notifications />
<WindowResizeHandler />
