<h1 class="modal-title" id="myModalLabel">{{model.title}}</h1>
<h2 class="modal-title" id="myModalLabel">{{format-date model.start}}</h2>
<div class="modal-body">
  {{#if model.thumb_image_url}}
    <div class="show-image">
      <img src="{{model.thumb_image_url}}"/ >
    </div>
  {{/if}}
  <p>
    {{model.description}}
  </p>
</div>
<div class="modal-footer">
  {{tweet-button data-text=model.tweet_content}}
</div>
