<LinkTo
  class="m-4 classic:bg-df-pink blm:bg-black rounded-lg border-4 border-white flex justify-between w-full p-2 shadow-md"
  @route="home.shrimpos.show"
  @model={{@shrimpo.slug}}>
  <div>
    <div>
      {{#if @shrimpo.coverArtUrl}}
        <img
          style="height: 6rem;"
          src={{@shrimpo.coverArtUrl}}
        />
      {{else}}
        <img src={{@shrimpo.user.avatarUrlOrDefault}} />
      {{/if}}
    </div>
    <div class="flex flex-col">
      <h2 class="text-xl">
        {{@shrimpo.title}}
      </h2>
      <div class="text-white">
        {{@shrimpo.entriesCount}} {{t "shrimpo_card.entries"}}
      </div>
    </div>
  </div>
  <div>
    <div class="text-white font-bold">
      {{@shrimpo.translatedStatus}}
    </div>
    {{#if (eq @shrimpo.status 'running')}}
      <Shrimpo::Countdown @endAt={{@shrimpo.endAt}} />
    {{/if}}
    <div class="text-white">
      <span class="font-bold">{{t "shrimpo_card.host"}}</span>
      {{@shrimpo.username}}
    </div>
  </div>
</LinkTo>