{{#if this.canSubmitEntry}}
  {{#let (changeset this.args.shrimpoEntry this.ShrimpoEntryValidations) as |changeset|}}
    <Ui::ChangesetForm
      @changeset={{changeset}}
      @onError={{this.onError}}
      @onSubmit={{this.onSubmit}} as |Form|>
      <Form.Input
        @label={{t "shrimpo.form.title"}}
        @fieldName="title"
        @containerClass='mb-2'
        />
      <div>
        <label>
          Upload file plz (mp3 only)
          <input
            type="file"
            {{on "change" (fn this.uploadEntry changeset)}}>
        </label>
        {{#if this.isUploading}}
          <div class="w-full mt-2">
            <div class="w-full h-6 bg-gray-300 overflow-hidden rounded">
              <div class="shiny-pink h-full" style={{this.progressBarStyle}}></div>
            </div>
            <p class="text-right mt-1 text-sm text-white">{{this.uploadProgress}}% complete</p>
          </div>
        {{/if}}
      </div>
      <label for="cc-license-checkbox">
        {{t "shrimpo.cc_license"}}
      </label>
      <Input
        @type="checkbox"
        @checked={{this.ccLicenseAccepted}}
        name="cc-license-checkbox"
      />
      <a href="https://mirrors.creativecommons.org/presskit/buttons/80x15/png/by-nc-sa.png" target="_blank">
        <img src="/assets/images/by-nc-sa.png" />
      </a>
      <Button
        @type="submit"
        @intent="primary"
        class="cool-button"
        disabled={{or (or Form.state.hasSubmitted changeset.isInvalid) this.submitButtonDisabled}}
        >
        {{t "shrimpo.form.submit"}}
      </Button>
      {{#if Form.state.hasSubmitted}}
        <marquee>SAVING....DON'T TURN OFF THE POWER.........</marquee>
      {{/if}}
    </Ui::ChangesetForm>
  {{/let}}
{{else}}
  <h1>YOu've submitted your shrimpo entry!!!!</h1>
{{/if}}