{{#if this.entry.isNew}}
  {{#let (changeset this.entry this.ShrimpoEntryValidations) as |changeset|}}
    <Ui::ChangesetForm
      @changeset={{changeset}}
      @onError={{this.onError}}
      @onSubmit={{this.onSubmit}} as |Form|>
      <Form.Input
        @label={{t "shrimpo.form.title"}}
        @fieldName="title"
        @containerClass='mb-2'
        />
      <div>
        <label>
          Upload file plz (mp3 only)
          <input
            type="file"
            {{on "change" (fn this.uploadEntry changeset)}}>
        </label>
        {{this.uploadProgress}}
      </div>
      <label for="cc-license-checkbox">
        This shrimpo entry will be licensed under the ATTRIBUTION-NONCOMMERCIAL-SHAREALIKE Creative Commons License.
        Read more
      </label>
      <input
        type="checkbox"
        name="cc-license-checkbox"
        />
      <a href="https://mirrors.creativecommons.org/presskit/buttons/80x15/png/by-nc-sa.png" target="_blank">
        <img src="/assets/images/by-nc-sa.png" />
      </a>
      <Button
        @type="submit"
        @intent="primary"
        class="cool-button"
        disabled={{or Form.state.hasSubmitted changeset.isInvalid}}
        >
        {{t "shrimpo.form.submit"}}
      </Button>
      {{#if Form.state.hasSubmitted}}
        <marquee>SAVING....DON'T TURN OFF THE POWER.........</marquee>
      {{/if}}
    </Ui::ChangesetForm>
  {{/let}}
{{else}}
  <h1>YOu've submitted your shrimpo entry!!!!</h1>
{{/if}}