<h1 class="text-2xl">
  <img class="inline" src="/assets/images/emojis/sshrimp.png" />
  THIS IS THE BEGINNING OF A NEW SHRIMPO
  <img class="inline" src="/assets/images/emojis/sshrimp_clear.png" />
</h1>
{{#let (changeset @model this.ShrimpoValidations) as |changeset|}}
  <Ui::ChangesetForm
    @changeset={{changeset}}
    @onError={{this.onError}}
    @onSubmit={{this.onSubmit}} as |Form|>
    <Form.Input
      @label={{t "shrimpo.form.title"}}
      @fieldName="title"
      @containerClass='mb-2'
      />
    <Form.Textarea
      @label={{t "shrimpo.form.rulepack"}}
      @fieldName="rulePack"
      @containerClass='mb-2'
      @size='lg'
      rows='10'
      cols='50'
      />
    <div>
      <select
        id="length"
        {{on "change" (fn this.setLength changeset)}}
        >
        {{#each this.lengths as |length|}}
          <option value="{{length}}" selected={{(eq changeset.length length)}}>{{length}}</option>
        {{/each}}
      </select>
    </div>

    <div>
      <label>
        Upload zip sample pack
        <input type="file" {{on "change" (fn this.uploadZip changeset)}}>
      </label>
      {{this.uploadProgress}}
    </div>

    <Button
      @type="submit"
      @intent="primary"
      class="cool-button"
      disabled={{or Form.state.hasSubmitted changeset.isInvalid}}
      >
      {{t "shrimpo.form.submit"}}
    </Button>
    {{#if Form.state.hasSubmitted}}
      <marquee>SAVING....DON'T TURN OFF THE POWER.........</marquee>
    {{/if}}
  </Ui::ChangesetForm>
{{/let}}