<h1 class="text-2xl">
  <img src="/assets/images/emojis/sshrimp.png" /> 
  THIS IS THE BEGINNING OF A NEW SHRIMPO
  <img src="/assets/images/emojis/sshrimp_clear.png" /> 
</h1>
{{#let (changeset @model ShrimpoValidations) as |changeset|}}
  <Ui::ChangesetForm
    @changeset={{changeset}}
    @onError={{this.onError}}
    @onSubmit={{this.onSubmit}} as |Form|>
    <Form.Input
      @label={{t "shrimpo.form.title"}}
      @fieldName="title"
      @containerClass='mb-2'
      />
    <Form.Textarea
      @label={{t "shrimpo.form.rulePack"}}
      @fieldName="rulePack"
      @containerClass='mb-2'
      @size='lg'
      rows='10'
      cols='50'
      />
    <Form.Select
      @label={{t "shrimpo.form.length"}}
      @fieldName='length'
      @options={{this.lengths}}
      @containerClass='mt-4'
      as |option|
    >
      {{option}}
    </Form.Select>

    <div>
      <label>
        Upload zip sample pack
        <input type="file" {{on "change" (fn this.uploadZip changeset)}}>
      </label>
      {{this.uploadProgress}}
    </div>

    <Button
      @type="submit"
      @intent="primary"
      class="cool-button"
      disabled={{changeset.isInvalid}}
      >
      {{t "shrimpo.form.submit"}}
    </Button>
  </Ui::ChangesetForm>
{{/let}}
