<h1 class="text-2xl">
  <img class="inline" src="/assets/images/emojis/sshrimp.png" />
    {{t "shrimpo.form.beginning"}}
  <img class="inline" src="/assets/images/emojis/sshrimp_clear.png" />
</h1>
<h2>
  <span class="shrimpo-marquee">
    many fruits will shrimp...only one will win! will you challenge the fruit-iverse of shrimp?! Dive into the fruit-iverse of SHRIMPO, where a symphony of flavors awaits your creative palate! Many fruits will shrimp, but only one will reign supreme in this electrifying musical showdown. Are you ready to peel back the layers of sound and embrace the challenge? Let the rhythm of the fruit-iverse guide your composition as you embark on this thrilling musical journey! Yo, 안녕하세요, mi bredren! SHRIMPO의 과일 세계로 들어가보세요. 여기서는 많은 과일이 새하얗게 살짝 삶을 겁니다. 그러나 이곳에선 오직 하나만이 최고로 빛날 것입니다. こんにちは、友よ！ この刺激的な音楽の対決に挑戦する準備はできていますか? Let the rhythm of the fruit-iverse guide yuh composition as yuh embark pon dis thrillin' musical journey, seen?音のレイヤーを一つずつ剥がし、挑戦を受け入れてください.果物の世界のリズムがあなたの作品を導いてくれるでしょう.
  </span>
</h2>
{{#let (changeset @model this.ShrimpoValidations) as |changeset|}}
  <Ui::ChangesetForm
    @changeset={{changeset}}
    @onError={{this.onError}}
    @onSubmit={{this.onSubmit}} as |Form|>
    <Form.Input
      @label={{t "shrimpo.form.title"}}
      @fieldName="title"
      @containerClass='mb-2'
      />
    <label class="align-top" for="shrimpo-cover-art"> {{t "shrimpo.form.cover_art"}}</label>
    <br/>
    <input
      class="py-4 px-4 my-2 text-df-yellow w-full semibold border-dashed"
      id="shrimpo-cover-art"
      name="shrimpo-cover-art"
      type="file"
      {{on "change" (fn this.updateCoverArt changeset)}}
    />
    {{this.coverArtUploadProgress}}
    <Form.Textarea
      @label={{t "shrimpo.form.rulepack"}}
      @placeholder={{t "shrimpo.form.rulepack_placeholder"}}
      @fieldName="rulePack"
      @containerClass='mb-2'
      @size='lg'
      rows='10'
      cols='50'
      />
    <Form.Input
      @label={{t "shrimpo.form.voting_emoji"}}
      @fieldName="emoji"
      @containerClass='mb-2'
      />
    <div>
      <label class="block text-sm font-bold mb-2" for="body">{{t "profile.my-shows.form.start"}}</label>
      <input
        class="mr-2"
        type="date"
        id="start-date"
        min={{this.currentDate}}
        value={{format-day changeset.startAt}}
      />
      <TimePicker
        @property="startAt"
        @changeset={{changeset}}
        />
    </div>
    <div>
      <select
        id="length"
        {{on "change" (fn this.setLength changeset)}}
        >
        {{#each this.lengths as |length|}}
          <option value="{{length}}" selected={{(eq changeset.duration length)}}>{{length}}</option>
        {{/each}}
      </select>
    </div>

    <div>
      <label>
        {{t "shrimpo.form.zip_file"}}
        <input type="file" {{on "change" (fn this.uploadZip changeset)}}>
      </label>
      {{this.uploadProgress}}
    </div>

    <Button
      @type="submit"
      @intent="primary"
      class="cool-button"
      disabled={{or Form.state.hasSubmitted changeset.isInvalid}}
      >
      {{t "shrimpo.form.submit"}}
    </Button>
    {{#if Form.state.hasSubmitted}}
      <marquee>{{t "forms.saving"}}</marquee>
    {{/if}}
  </Ui::ChangesetForm>
{{/let}}