<div class="mt-1 flex space-x-1">
  {{#if this.playing}}
    <a
      class="text-df-green hover:text-df-yellow text-xl"
      {{on "click" this.pause}}
      href="#"
    >
      {{t "player.pause"}}
    </a>
  {{else}}
    <a
      class="text-df-green hover:text-df-yellow text-xl"
      {{on "click" this.play}}
      href="#"
    >
      {{t "player.play"}}
    </a>
  {{/if}}
  <a href={{@shrimpoEntry.cdnUrl}} download="">
    <Ui::Icon
      @name="download"
      class="fa fa-download text-df-green hover:text-df-yellow text-xl"
    />
  </a>
</div>