{{#if this.session.isAuthenticated}}
  <div>
    <h3>Shrimps command voting happens now!</h3>
  </div>
  {{#each-in this.votes key="score" as |name vote|}}
    {{log "hey"}}
    <div class="shrimpo-score-picker mb-2">
      <h3 class='text-lg'>{{name}}</h3>
      <input
        type="range"
        min=1
        max=6
        value={{vote.score}}
        {{on "change" (fn this.setScore name)}}
      >
      <div class="flex">
        <img
          width='48'
          src="{{emoji-path vote.emoji}}"
        >
        <img
          class={{if (gte vote.score 2) "opacity-100" "opacity-50"}}
          width='48'
          src="{{emoji-path vote.emoji}}"
        >
        <img
          class={{if (gte vote.score 3) "opacity-100" "opacity-50"}}
          width='48'
          src="{{emoji-path vote.emoji}}"
        >
        <img
          class={{if (gte vote.score 4) "opacity-100" "opacity-50"}}
          width='48'
          src="{{emoji-path vote.emoji}}"
        >
        <img
          class={{if (gte vote.score 5) "opacity-100" "opacity-50"}}
          width='48'
          src="{{emoji-path vote.emoji}}"
        >
        <img
          class={{if (gte vote.score 6) "opacity-100" "opacity-50"}}
          width='48'
          src="{{emoji-path vote.emoji}}"
        >
      </div>
    </div>
  {{/each-in}}
  <button
    {{on "click" this.saveVote}}
    class="cool-button">
    SAVE VOTE
  </button>
  {{#if this.voted}}
    <img
      class="bounce"
      src="/assets/images/i_voted.png"
    >
  {{/if}}
{{else}}
  <div>
    <p>Login or register to vote on this shrimpo!</p>
  </div>
{{/if}}