{{#if this.session.isAuthenticated}}
  <div>
    <h3>Shrimps command voting happens now!</h3>
    <p>
      Rate tune by number of {{this.scoreEmoji}}.
    </p>

    <div class="shrimpo-score-picker mb-2">
      <input
        type="range"
        min=1
        max=6
        value={{this.score}}
        {{on "change" this.setScore}}
      >
      <div class="flex">
        <img
          width='48'
          src="{{this.scoreEmojiPath}}"
        >
        <img
          class={{if (gte this.score 2) "opacity-100" "opacity-50"}}
          width='48'
          src="{{this.scoreEmojiPath}}"
        >
        <img
          class={{if (gte this.score 3) "opacity-100" "opacity-50"}}
          width='48'
          src="{{this.scoreEmojiPath}}"
        >
        <img
          class={{if (gte this.score 4) "opacity-100" "opacity-50"}}
          width='48'
          src="{{this.scoreEmojiPath}}"
        >
        <img
          class={{if (gte this.score 5) "opacity-100" "opacity-50"}}
          width='48'
          src="{{this.scoreEmojiPath}}"
        >
        <img
          class={{if (gte this.score 6) "opacity-100" "opacity-50"}}
          width='48'
          src="{{this.scoreEmojiPath}}"
        >
      </div>
    </div>
    <button
      {{on "click" this.saveVote}}
      class="cool-button">
      SAVE VOTE
    </button>
  </div>
{{else}}
  <div>
    <p>Login or register to vote on this shrimpo!</p>
  </div>
{{/if}}